AVECU1.0
[{"id":"79660693.4f7988","type":"tab","label":"AvecuBot","disabled":false,"info":""},{"id":"44ed778b.df6e18","type":"function","z":"79660693.4f7988","name":"Preparar para Conversation","func":"msg.user = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":186,"y":188,"wires":[["e35a786.504b588"]]},{"id":"ca19e0fb.ac54e","type":"function","z":"79660693.4f7988","name":"Preparar para Telegram","func":"msg.payload = {\n  chatId : msg.user,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":198,"y":602,"wires":[["1a6dc6b1.3dfbf9"]]},{"id":"a7011842.f21c58","type":"watson-conversation-v1","z":"79660693.4f7988","name":"","workspaceid":"58da1399-266e-48bf-9b44-ce276a9e221f","multiuser":true,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":186,"y":435,"wires":[["b0713235.74a76","38c1cf32.a58f9","ca19e0fb.ac54e","3833565.62825aa"]],"inputLabels":["msg.user"]},{"id":"b0713235.74a76","type":"switch","z":"79660693.4f7988","name":"Mega Switch","property":"payload.context.apuntar_asignatura","propertyType":"msg","rules":[{"t":"eq","v":"MATEMATICAS","vt":"str"},{"t":"eq","v":"LENGUA CASTELLANA Y LITERATURA","vt":"str"},{"t":"eq","v":"FISICA Y QUIMICA","vt":"str"},{"t":"eq","v":"GRIEGO","vt":"str"},{"t":"eq","v":"LATIN","vt":"str"},{"t":"eq","v":"MATEMATICAS APLICADAS A LAS CIENCIAS SOCIALES","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"GEOGRAFIA","vt":"str"},{"t":"eq","v":"ECONOMIA DE LA EMPRESA,BIOLOGIA Y GEOLOGIA","vt":"str"},{"t":"eq","v":"GEOLOGIA","vt":"str"},{"t":"eq","v":"QUIMICA","vt":"str"},{"t":"eq","v":"HISTORIA DEL ARTE","vt":"str"},{"t":"eq","v":"HISTORIA DE LA FILOSOFIA","vt":"str"},{"t":"eq","v":"INGLES","vt":"str"},{"t":"eq","v":"DIBUJO TECNICO","vt":"str"},{"t":"eq","v":"FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE ESPAÑA","vt":"str"},{"t":"eq","v":"ECONOMIA","vt":"str"},{"t":"eq","v":"HISTORIA DEL MUNDO CONTEMPORANEO","vt":"str"},{"t":"eq","v":"TECNOLOGIA INDUSTRIAL","vt":"str"},{"t":"eq","v":"FRANCES","vt":"str"},{"t":"eq","v":"DIBUJO ARTISTICO","vt":"str"},{"t":"eq","v":"EDUCACION FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE LA MUSICA Y DE LA DANZA","vt":"str"},{"t":"eq","v":"FUNDAMENTOS DE ADMINISTRACION Y GESTION","vt":"str"},{"t":"eq","v":"RELIGION","vt":"str"},{"t":"eq","v":"CULTURA CIENTIFICA","vt":"str"},{"t":"eq","v":"TECNOLOGIA DE LA INFORMACION Y COMUNICACION","vt":"str"},{"t":"eq","v":"PSICOLOGIA","vt":"str"},{"t":"eq","v":"CIENCIAS DE LA TIERRA Y MEDIOAMBIENTE","vt":"str"},{"t":"eq","v":"ANATOMIA APLICADA","vt":"str"},{"t":"eq","v":"LENGUAJE Y PRACTICA MUSICAL","vt":"str"}],"checkall":"true","outputs":33,"x":627,"y":380,"wires":[["63535ea8.606a9"],["63535ea8.606a9"],["63535ea8.606a9"],["63535ea8.606a9"],["63535ea8.606a9"],["63535ea8.606a9"],["63535ea8.606a9"],["63535ea8.606a9"],["63535ea8.606a9"],["63535ea8.606a9"],["63535ea8.606a9"],["63535ea8.606a9"],["63535ea8.606a9"],["63535ea8.606a9"],["63535ea8.606a9"],["63535ea8.606a9"],["63535ea8.606a9"],["63535ea8.606a9"],["63535ea8.606a9"],["63535ea8.606a9"],["93c04edf.93fa4"],["93c04edf.93fa4"],["c3c06e39.ba54a"],["c3c06e39.ba54a"],["c3c06e39.ba54a"],["c3c06e39.ba54a"],["c3c06e39.ba54a"],["c3c06e39.ba54a"],["c3c06e39.ba54a"],["c3c06e39.ba54a"],["c3c06e39.ba54a"],["c3c06e39.ba54a"],["c3c06e39.ba54a"]]},{"id":"725cfad8.369014","type":"function","z":"79660693.4f7988","name":"Goma de Borrar","func":"     msg.params = {\n         context: {}\n     };\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":40,"wires":[[]]},{"id":"c4a6b0d.560c65","type":"debug","z":"79660693.4f7988","name":"","active":true,"console":"false","complete":"payload","x":1283,"y":232,"wires":[]},{"id":"c8b7c569.ee5698","type":"debug","z":"79660693.4f7988","name":"","active":true,"console":"false","complete":"false","x":1290,"y":378,"wires":[]},{"id":"effb7e7b.3583e","type":"debug","z":"79660693.4f7988","name":"","active":true,"console":"false","complete":"false","x":1293,"y":527,"wires":[]},{"id":"93c04edf.93fa4","type":"function","z":"79660693.4f7988","name":"Organizar 3 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n   if (msg.payload.context.negacion == \"No\"){\n     var Negacion = 1;\n }\n \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 3;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro, \"Negacion\":Negacion};\n \n\n return msg;","outputs":1,"noerr":0,"x":916,"y":378,"wires":[["c8b7c569.ee5698","a8610153.a675e"]]},{"id":"c3c06e39.ba54a","type":"function","z":"79660693.4f7988","name":"Organizar 2 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  if (msg.payload.context.negacion == \"No\"){\n     var Negacion = 1;\n }\n \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 2;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro, \"Negacion\":Negacion};\n \n\n return msg;","outputs":1,"noerr":0,"x":920,"y":526,"wires":[["effb7e7b.3583e","a8610153.a675e"]]},{"id":"63535ea8.606a9","type":"function","z":"79660693.4f7988","name":"Organizar 4 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n if (msg.payload.context.negacion == \"No\"){\n     var Negacion = 1;\n }\n      \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 4;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro, \"Negacion\":Negacion};\n \n \nreturn msg;","outputs":1,"noerr":0,"x":921,"y":235,"wires":[["c4a6b0d.560c65","a8610153.a675e"]]},{"id":"38c1cf32.a58f9","type":"debug","z":"79660693.4f7988","name":"","active":true,"console":"false","complete":"payload","x":425,"y":330,"wires":[]},{"id":"e35a786.504b588","type":"function","z":"79660693.4f7988","name":"Borrar al finalizar","func":"if (msg.payload.Horas_estudio > 0){\n   msg.params = {\n         context: {}\n     };\n    \n}\nif (msg.payload.Horas_libro > 0){\n    msg.params = {\n         context: {}\n     };\n}\nif (msg.payload.Negacion > 0){\n    msg.params = {\n         context: {}\n     };\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":203,"y":312,"wires":[["a7011842.f21c58"]]},{"id":"75cad35b.296e0c","type":"link in","z":"79660693.4f7988","name":"","links":["a8610153.a675e"],"x":38,"y":313,"wires":[["e35a786.504b588","5ae6b152.e1795"]]},{"id":"a8610153.a675e","type":"link out","z":"79660693.4f7988","name":"","links":["75cad35b.296e0c"],"x":1131,"y":378,"wires":[]},{"id":"3833565.62825aa","type":"function","z":"79660693.4f7988","name":"Introducir datos en BD","func":"msg.payload =\n\n{\nFECHA:msg.payload.context.date,\n\nTIPO_ACTIVIDAD:\tmsg.payload.context.apuntar_tipo,\n\nASIGNATURA: msg.payload.context.apuntar_asignatura,\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":611,"y":751,"wires":[["7503e614.06ea78","743ce1fe.4c2bd"]]},{"id":"743ce1fe.4c2bd","type":"debug","z":"79660693.4f7988","name":"","active":true,"console":"false","complete":"false","x":905,"y":672,"wires":[]},{"id":"7503e614.06ea78","type":"dashDB out","z":"79660693.4f7988","dashDB":"","service":"proyectoexcelencia_bd","table":"PRUEBASNODERED","name":"Tabla PRUEBASNODERED","x":951,"y":790,"wires":[]},{"id":"5ae6b152.e1795","type":"function","z":"79660693.4f7988","name":"Mensaje FINAL","func":"if (msg.payload.Horas_libro > 0){\nconsole.log(msg);\nvar chat = msg.chat();\nmsg.payload = \"Vas a tardar \" + Math.ro(msg.payload.Horas_libro) +\" horas en leerte el libro.\";\n}\n\nif (msg.payload.Horas_estudio > 0){\nconsole.log(msg);\nvar chat = msg.chat();\nmsg.payload = \"Vas a tardar \" + Math.round(msg.payload.Horas_estudio) +\" horas en prepararte este examen.\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":100,"wires":[["dfc86233.ec7fc","8eec0beb.247908"]]},{"id":"8eec0beb.247908","type":"debug","z":"79660693.4f7988","name":"","active":true,"console":"false","complete":"false","x":1193,"y":83,"wires":[]},{"id":"dfc86233.ec7fc","type":"chatbot-message","z":"79660693.4f7988","name":"","message":[],"answer":false,"track":false,"x":876,"y":150,"wires":[["1a6dc6b1.3dfbf9"]]},{"id":"282fe33d.03d37c","type":"chatbot-telegram-receive","z":"79660693.4f7988","bot":"566626a2.5e5298","x":151,"y":58,"wires":[["44ed778b.df6e18","5ae6b152.e1795"]]},{"id":"1a6dc6b1.3dfbf9","type":"chatbot-telegram-send","z":"79660693.4f7988","bot":"566626a2.5e5298","track":true,"parseMode":"","outputs":1,"x":258,"y":742,und"wires":[[]]},{"id":"566626a2.5e5298","type":"chatbot-telegram-node","z":"","botname":"Avecu","usernames":"","polling":"1000","log":""}]
