Conversation - Telegram V4 (Con Respuesta Final)
[{"id":"e3324807.e5b968","type":"tab","label":"Flow 9","disabled":false,"info":""},{"id":"c12d291e.0b2608","type":"function","z":"e3324807.e5b968","name":"Preparar para Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":189,"y":196,"wires":[["904eece1.f0ed4"]]},{"id":"33bd604e.1d737","type":"function","z":"e3324807.e5b968","name":"Preparar para Telegram","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":201,"y":610,"wires":[["e8e8f76c.301a28"]]},{"id":"670e2c13.5ddec4","type":"watson-conversation-v1","z":"e3324807.e5b968","name":"","workspaceid":"58da1399-266e-48bf-9b44-ce276a9e221f","multiuser":true,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":189,"y":443,"wires":[["d0e8a31.c965c6","3d264a98.092e06","33bd604e.1d737","7308a666.44c268","3d0bb185.f9f97e"]],"inputLabels":["msg.user"]},{"id":"d0e8a31.c965c6","type":"switch","z":"e3324807.e5b968","name":"Mega Switch","property":"payload.context.apuntar_asignatura","propertyType":"msg","rules":[{"t":"eq","v":"MATEMATICAS","vt":"str"},{"t":"eq","v":"LENGUA CASTELLANA Y LITERATURA","vt":"str"},{"t":"eq","v":"FISICA Y QUIMICA","vt":"str"},{"t":"eq","v":"GRIEGO","vt":"str"},{"t":"eq","v":"LATIN","vt":"str"},{"t":"eq","v":"MATEMATICAS APLICADAS A LAS CIENCIAS SOCIALES","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"GEOGRAFIA","vt":"str"},{"t":"eq","v":"ECONOMIA DE LA EMPRESA,BIOLOGIA Y GEOLOGIA","vt":"str"},{"t":"eq","v":"GEOLOGIA","vt":"str"},{"t":"eq","v":"QUIMICA","vt":"str"},{"t":"eq","v":"HISTORIA DEL ARTE","vt":"str"},{"t":"eq","v":"HISTORIA DE LA FILOSOFIA","vt":"str"},{"t":"eq","v":"INGLES","vt":"str"},{"t":"eq","v":"DIBUJO TECNICO","vt":"str"},{"t":"eq","v":"FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE ESPAÑA","vt":"str"},{"t":"eq","v":"ECONOMIA","vt":"str"},{"t":"eq","v":"HISTORIA DEL MUNDO CONTEMPORANEO","vt":"str"},{"t":"eq","v":"TECNOLOGIA INDUSTRIAL","vt":"str"},{"t":"eq","v":"FRANCES","vt":"str"},{"t":"eq","v":"DIBUJO ARTISTICO","vt":"str"},{"t":"eq","v":"EDUCACION FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE LA MUSICA Y DE LA DANZA","vt":"str"},{"t":"eq","v":"FUNDAMENTOS DE ADMINISTRACION Y GESTION","vt":"str"},{"t":"eq","v":"RELIGION","vt":"str"},{"t":"eq","v":"CULTURA CIENTIFICA","vt":"str"},{"t":"eq","v":"TECNOLOGIA DE LA INFORMACION Y COMUNICACION","vt":"str"},{"t":"eq","v":"PSICOLOGIA","vt":"str"},{"t":"eq","v":"CIENCIAS DE LA TIERRA Y MEDIOAMBIENTE","vt":"str"},{"t":"eq","v":"ANATOMIA APLICADA","vt":"str"},{"t":"eq","v":"LENGUAJE Y PRACTICA MUSICAL","vt":"str"}],"checkall":"true","outputs":33,"x":630,"y":388,"wires":[["be4f70a8.087dd"],["be4f70a8.087dd"],["be4f70a8.087dd"],["be4f70a8.087dd"],["be4f70a8.087dd"],["be4f70a8.087dd"],["be4f70a8.087dd"],["be4f70a8.087dd"],["be4f70a8.087dd"],["be4f70a8.087dd"],["be4f70a8.087dd"],["be4f70a8.087dd"],["be4f70a8.087dd"],["be4f70a8.087dd"],["be4f70a8.087dd"],["be4f70a8.087dd"],["be4f70a8.087dd"],["be4f70a8.087dd"],["be4f70a8.087dd"],["be4f70a8.087dd"],["a8004dea.d40b9"],["a8004dea.d40b9"],["b38ac1b6.f7352"],["b38ac1b6.f7352"],["b38ac1b6.f7352"],["b38ac1b6.f7352"],["b38ac1b6.f7352"],["b38ac1b6.f7352"],["b38ac1b6.f7352"],["b38ac1b6.f7352"],["b38ac1b6.f7352"],["b38ac1b6.f7352"],["b38ac1b6.f7352"]]},{"id":"125628fb.61d447","type":"function","z":"e3324807.e5b968","name":"Goma de Borrar","func":"     msg.params = {\n         context: {}\n     };\nreturn msg;","outputs":1,"noerr":0,"x":1008,"y":75,"wires":[[]]},{"id":"7d908d19.d0dbf4","type":"debug","z":"e3324807.e5b968","name":"","active":true,"console":"false","complete":"payload","x":1286,"y":240,"wires":[]},{"id":"f7a11f11.43f24","type":"debug","z":"e3324807.e5b968","name":"","active":true,"console":"false","complete":"false","x":1293,"y":386,"wires":[]},{"id":"505cefd1.acefe","type":"debug","z":"e3324807.e5b968","name":"","active":true,"console":"false","complete":"false","x":1296,"y":535,"wires":[]},{"id":"a8004dea.d40b9","type":"function","z":"e3324807.e5b968","name":"Organizar 3 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 3;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro};\n \n\n return msg;","outputs":1,"noerr":0,"x":919,"y":386,"wires":[["f7a11f11.43f24","3411667a.ac2bca"]]},{"id":"b38ac1b6.f7352","type":"function","z":"e3324807.e5b968","name":"Organizar 2 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 2;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro};\n \n\n return msg;","outputs":1,"noerr":0,"x":923,"y":534,"wires":[["505cefd1.acefe","3411667a.ac2bca"]]},{"id":"be4f70a8.087dd","type":"function","z":"e3324807.e5b968","name":"Organizar 4 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 4;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro};\n \n \nreturn msg;","outputs":1,"noerr":0,"x":924,"y":243,"wires":[["7d908d19.d0dbf4","3411667a.ac2bca"]]},{"id":"3d264a98.092e06","type":"debug","z":"e3324807.e5b968","name":"","active":true,"console":"false","complete":"payload","x":428,"y":338,"wires":[]},{"id":"904eece1.f0ed4","type":"function","z":"e3324807.e5b968","name":"Borrar al organizar","func":"if (msg.payload.Horas_estudio > 0){\n   msg.params = {\n         context: {}\n     };\n    \n}\nif (msg.payload.Horas_libro > 0){\n    msg.params = {\n         context: {}\n     };\n}\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":206,"y":320,"wires":[["670e2c13.5ddec4"]]},{"id":"9de1f06a.f39af","type":"trigger","z":"e3324807.e5b968","op1":"Recuerda que puedes apuntar y organizar cualquier examen.","op2":"Recuerda que puedes apuntar y organizar cualquier examen.","op1type":"str","op2type":"str","duration":"-2","extend":false,"units":"s","reset":"","name":"","x":462,"y":49,"wires":[[]]},{"id":"c9aa9f8.d76176","type":"delay","z":"e3324807.e5b968","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":621,"y":50,"wires":[[]]},{"id":"f617a2fd.cfee8","type":"link in","z":"e3324807.e5b968","name":"","links":["3411667a.ac2bca"],"x":41,"y":321,"wires":[["904eece1.f0ed4","156f6b7a.afee25"]]},{"id":"3411667a.ac2bca","type":"link out","z":"e3324807.e5b968","name":"","links":["f617a2fd.cfee8"],"x":1134,"y":386,"wires":[]},{"id":"7308a666.44c268","type":"function","z":"e3324807.e5b968","name":"Introducir datos en BD","func":"msg.payload =\n\n{\nFECHA:msg.payload.context.date,\n\nTIPO_ACTIVIDAD:\tmsg.payload.context.apuntar_tipo,\n\nASIGNATURA: msg.payload.context.apuntar_asignatura,\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":614,"y":759,"wires":[["47cddc8a.7d3264","f8ec3197.8f7cc"]]},{"id":"f8ec3197.8f7cc","type":"debug","z":"e3324807.e5b968","name":"","active":true,"console":"false","complete":"false","x":908,"y":680,"wires":[]},{"id":"47cddc8a.7d3264","type":"dashDB out","z":"e3324807.e5b968","dashDB":"","service":"proyectoexcelencia_bd","table":"PRUEBASNODERED","name":"Tabla PRUEBASNODERED","x":954,"y":798,"wires":[]},{"id":"3d0bb185.f9f97e","type":"function","z":"e3324807.e5b968","name":"","func":"if (msg.payload.context.negacion == \"No\"){\n   msg.params = {\n         context: {}\n     };\n}\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":493,"wires":[["13bf73b9.27b00c"]]},{"id":"13bf73b9.27b00c","type":"debug","z":"e3324807.e5b968","name":"","active":true,"console":"false","complete":"false","x":459,"y":553,"wires":[]},{"id":"2f60b78e.902ac8","type":"chatbot-telegram-receive","z":"e3324807.e5b968","bot":"a878eae6.a0c658","x":154,"y":66,"wires":[["c12d291e.0b2608","156f6b7a.afee25"]]},{"id":"e8e8f76c.301a28","type":"chatbot-telegram-send","z":"e3324807.e5b968","bot":"a878eae6.a0c658","track":true,"parseMode":"","outputs":1,"x":261,"y":750,"wires":[[]]},{"id":"aa6e050.d10fbf8","type":"chatbot-message","z":"e3324807.e5b968","name":"","message":[],"answer":false,"track":false,"x":879,"y":158,"wires":[["e8e8f76c.301a28"]]},{"id":"156f6b7a.afee25","type":"function","z":"e3324807.e5b968","name":"Mensaje FINAL","func":"if (msg.payload.Horas_libro > 0){\nconsole.log(msg);\nvar chat = msg.chat();\nmsg.payload = \"Vas a tardar \" + Math.round(msg.payload.Horas_libro) +\" horas en leerte el libro.\";\n}\n\nif (msg.payload.Horas_estudio > 0){\nconsole.log(msg);\nvar chat = msg.chat();\nmsg.payload = \"Vas a tardar \" + Math.round(msg.payload.Horas_estudio) +\" horas en prepararte este examen.\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":114,"wires":[["aa6e050.d10fbf8","7f151ae3.c500c4"]]},{"id":"7f151ae3.c500c4","type":"debug","z":"e3324807.e5b968","name":"","active":true,"console":"false","complete":"false","x":1196,"y":91,"wires":[]},{"id":"a878eae6.a0c658","type":"chatbot-telegram-node","z":"","botname":"Pruebas","usernames":"","polling":"1000","log":""}]
