Conversation - Telegram V3
[{"id":"88d7d41f.693378","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"a5dbd4cd.c71508","type":"function","z":"88d7d41f.693378","name":"Preparar para Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":189,"y":196,"wires":[["43e74b82.6e65c4"]]},{"id":"bf09431.ca4bec","type":"function","z":"88d7d41f.693378","name":"Preparar para Telegram","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":201,"y":610,"wires":[["cde9e1bf.c3b41"]]},{"id":"63a1340e.1540fc","type":"watson-conversation-v1","z":"88d7d41f.693378","name":"","workspaceid":"58da1399-266e-48bf-9b44-ce276a9e221f","multiuser":true,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":189,"y":443,"wires":[["a6b512e2.f988b","2cfc5cab.4fe184","bf09431.ca4bec","770060db.aa08c","cc17ce56.48396"]],"inputLabels":["msg.user"]},{"id":"a6b512e2.f988b","type":"switch","z":"88d7d41f.693378","name":"Mega Switch","property":"payload.context.apuntar_asignatura","propertyType":"msg","rules":[{"t":"eq","v":"MATEMATICAS","vt":"str"},{"t":"eq","v":"LENGUA CASTELLANA Y LITERATURA","vt":"str"},{"t":"eq","v":"FISICA Y QUIMICA","vt":"str"},{"t":"eq","v":"GRIEGO","vt":"str"},{"t":"eq","v":"LATIN","vt":"str"},{"t":"eq","v":"MATEMATICAS APLICADAS A LAS CIENCIAS SOCIALES","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"GEOGRAFIA","vt":"str"},{"t":"eq","v":"ECONOMIA DE LA EMPRESA,BIOLOGIA Y GEOLOGIA","vt":"str"},{"t":"eq","v":"GEOLOGIA","vt":"str"},{"t":"eq","v":"QUIMICA","vt":"str"},{"t":"eq","v":"HISTORIA DEL ARTE","vt":"str"},{"t":"eq","v":"HISTORIA DE LA FILOSOFIA","vt":"str"},{"t":"eq","v":"INGLES","vt":"str"},{"t":"eq","v":"DIBUJO TECNICO","vt":"str"},{"t":"eq","v":"FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE ESPAÑA","vt":"str"},{"t":"eq","v":"ECONOMIA","vt":"str"},{"t":"eq","v":"HISTORIA DEL MUNDO CONTEMPORANEO","vt":"str"},{"t":"eq","v":"TECNOLOGIA INDUSTRIAL","vt":"str"},{"t":"eq","v":"FRANCES","vt":"str"},{"t":"eq","v":"DIBUJO ARTISTICO","vt":"str"},{"t":"eq","v":"EDUCACION FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE LA MUSICA Y DE LA DANZA","vt":"str"},{"t":"eq","v":"FUNDAMENTOS DE ADMINISTRACION Y GESTION","vt":"str"},{"t":"eq","v":"RELIGION","vt":"str"},{"t":"eq","v":"CULTURA CIENTIFICA","vt":"str"},{"t":"eq","v":"TECNOLOGIA DE LA INFORMACION Y COMUNICACION","vt":"str"},{"t":"eq","v":"PSICOLOGIA","vt":"str"},{"t":"eq","v":"CIENCIAS DE LA TIERRA Y MEDIOAMBIENTE","vt":"str"},{"t":"eq","v":"ANATOMIA APLICADA","vt":"str"},{"t":"eq","v":"LENGUAJE Y PRACTICA MUSICAL","vt":"str"}],"checkall":"true","outputs":33,"x":630,"y":388,"wires":[["e88cc4b.79e7538"],["e88cc4b.79e7538"],["e88cc4b.79e7538"],["e88cc4b.79e7538"],["e88cc4b.79e7538"],["e88cc4b.79e7538"],["e88cc4b.79e7538"],["e88cc4b.79e7538"],["e88cc4b.79e7538"],["e88cc4b.79e7538"],["e88cc4b.79e7538"],["e88cc4b.79e7538"],["e88cc4b.79e7538"],["e88cc4b.79e7538"],["e88cc4b.79e7538"],["e88cc4b.79e7538"],["e88cc4b.79e7538"],["e88cc4b.79e7538"],["e88cc4b.79e7538"],["e88cc4b.79e7538"],["9c658617.81e658"],["9c658617.81e658"],["cf717717.e4f988"],["cf717717.e4f988"],["cf717717.e4f988"],["cf717717.e4f988"],["cf717717.e4f988"],["cf717717.e4f988"],["cf717717.e4f988"],["cf717717.e4f988"],["cf717717.e4f988"],["cf717717.e4f988"],["cf717717.e4f988"]]},{"id":"60ca6a31.751814","type":"function","z":"88d7d41f.693378","name":"Goma de Borrar","func":"     msg.params = {\n         context: {}\n     };\nreturn msg;","outputs":1,"noerr":0,"x":1008,"y":75,"wires":[[]]},{"id":"3fa2db71.1019c4","type":"debug","z":"88d7d41f.693378","name":"","active":true,"console":"false","complete":"payload","x":1286,"y":240,"wires":[]},{"id":"afea205d.0db27","type":"debug","z":"88d7d41f.693378","name":"","active":true,"console":"false","complete":"false","x":1293,"y":386,"wires":[]},{"id":"55e3b641.3e1d58","type":"debug","z":"88d7d41f.693378","name":"","active":true,"console":"false","complete":"false","x":1296,"y":535,"wires":[]},{"id":"9c658617.81e658","type":"function","z":"88d7d41f.693378","name":"Organizar 3 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 3;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro};\n \n\n return msg;","outputs":1,"noerr":0,"x":919,"y":386,"wires":[["afea205d.0db27","416c22a8.c9426c"]]},{"id":"cf717717.e4f988","type":"function","z":"88d7d41f.693378","name":"Organizar 2 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 2;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro};\n \n\n return msg;","outputs":1,"noerr":0,"x":923,"y":534,"wires":[["55e3b641.3e1d58","416c22a8.c9426c"]]},{"id":"e88cc4b.79e7538","type":"function","z":"88d7d41f.693378","name":"Organizar 4 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 4;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro};\n \n \nreturn msg;","outputs":1,"noerr":0,"x":924,"y":243,"wires":[["3fa2db71.1019c4","416c22a8.c9426c"]]},{"id":"2cfc5cab.4fe184","type":"debug","z":"88d7d41f.693378","name":"","active":true,"console":"false","complete":"payload","x":428,"y":338,"wires":[]},{"id":"43e74b82.6e65c4","type":"function","z":"88d7d41f.693378","name":"Borrar al organizar","func":"if (msg.payload.Horas_estudio > 0){\n   msg.params = {\n         context: {}\n     };\n    \n}\nif (msg.payload.Horas_libro > 0){\n    msg.params = {\n         context: {}\n     };\n}\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":206,"y":320,"wires":[["63a1340e.1540fc"]]},{"id":"1ec067d3.2b0ee8","type":"trigger","z":"88d7d41f.693378","op1":"Recuerda que puedes apuntar y organizar cualquier examen.","op2":"Recuerda que puedes apuntar y organizar cualquier examen.","op1type":"str","op2type":"str","duration":"-2","extend":false,"units":"s","reset":"","name":"","x":462,"y":49,"wires":[[]]},{"id":"c1583da9.51f24","type":"delay","z":"88d7d41f.693378","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":621,"y":50,"wires":[[]]},{"id":"fe11729a.dfb55","type":"link in","z":"88d7d41f.693378","name":"","links":["416c22a8.c9426c"],"x":41,"y":321,"wires":[["43e74b82.6e65c4"]]},{"id":"416c22a8.c9426c","type":"link out","z":"88d7d41f.693378","name":"","links":["fe11729a.dfb55"],"x":1134,"y":386,"wires":[]},{"id":"770060db.aa08c","type":"function","z":"88d7d41f.693378","name":"Introducir datos en BD","func":"msg.payload =\n\n{\nFECHA:msg.payload.context.date,\n\nTIPO_ACTIVIDAD:\tmsg.payload.context.apuntar_tipo,\n\nASIGNATURA: msg.payload.context.apuntar_asignatura,\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":614,"y":759,"wires":[["748c61c.efb5da","6f2bd2a2.927d2c"]]},{"id":"6f2bd2a2.927d2c","type":"debug","z":"88d7d41f.693378","name":"","active":true,"console":"false","complete":"false","x":908,"y":680,"wires":[]},{"id":"748c61c.efb5da","type":"dashDB out","z":"88d7d41f.693378","dashDB":"","service":"proyectoexcelencia_bd","table":"PRUEBASNODERED","name":"Tabla PRUEBASNODERED","x":954,"y":798,"wires":[]},{"id":"6ecb3553.5e580c","type":"telegram receiver","z":"88d7d41f.693378","name":"","bot":"2d79235d.ddf6cc","saveDataDir":"","x":138,"y":71,"wires":[["a5dbd4cd.c71508"],[]]},{"id":"cde9e1bf.c3b41","type":"telegram sender","z":"88d7d41f.693378","name":"","bot":"2d79235d.ddf6cc","x":259,"y":737,"wires":[[]]},{"id":"cc17ce56.48396","type":"function","z":"88d7d41f.693378","name":"","func":"if (msg.payload.context.negacion == \"No\"){\n   msg.params = {\n         context: {}\n     };\n}\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":493,"wires":[["930341fe.63cbc"]]},{"id":"930341fe.63cbc","type":"debug","z":"88d7d41f.693378","name":"","active":true,"console":"false","complete":"false","x":459,"y":553,"wires":[]},{"id":"2d79235d.ddf6cc","type":"telegram bot","z":"88d7d41f.693378","botname":"PruebasExcelencia3","usernames":"","chatids":""}]
