Conversation - Telegram V2
[{"id":"6eb56edf.6f7a9","type":"function","z":"1526f3e0.1461ec","name":"Preparar para Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":201,"y":186,"wires":[["1b037dc9.1201e2"]]},{"id":"b1feb343.cec8e","type":"function","z":"1526f3e0.1461ec","name":"Preparar para Telegram","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":254,"y":487,"wires":[["56ef6a6f.df7aa4"]]},{"id":"bc33bb12.01cec8","type":"watson-conversation-v1","z":"1526f3e0.1461ec","name":"","workspaceid":"58da1399-266e-48bf-9b44-ce276a9e221f","multiuser":true,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":218,"y":360,"wires":[["1174b011.ae3ca","dd5da53a.60acf8","b1feb343.cec8e"]]},{"id":"1174b011.ae3ca","type":"switch","z":"1526f3e0.1461ec","name":"Mega Switch","property":"payload.context.apuntar_asignatura","propertyType":"msg","rules":[{"t":"eq","v":"MATEMATICAS","vt":"str"},{"t":"eq","v":"LENGUA CASTELLANA Y LITERATURA","vt":"str"},{"t":"eq","v":"FISICA Y QUIMICA","vt":"str"},{"t":"eq","v":"GRIEGO","vt":"str"},{"t":"eq","v":"LATIN","vt":"str"},{"t":"eq","v":"MATEMATICAS APLICADAS A LAS CIENCIAS SOCIALES","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"GEOGRAFIA","vt":"str"},{"t":"eq","v":"ECONOMIA DE LA EMPRESA,BIOLOGIA Y GEOLOGIA","vt":"str"},{"t":"eq","v":"GEOLOGIA","vt":"str"},{"t":"eq","v":"QUIMICA","vt":"str"},{"t":"eq","v":"HISTORIA DEL ARTE","vt":"str"},{"t":"eq","v":"HISTORIA DE LA FILOSOFIA","vt":"str"},{"t":"eq","v":"INGLES","vt":"str"},{"t":"eq","v":"DIBUJO TECNICO","vt":"str"},{"t":"eq","v":"FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE ESPAÑA","vt":"str"},{"t":"eq","v":"ECONOMIA","vt":"str"},{"t":"eq","v":"HISTORIA DEL MUNDO CONTEMPORANEO","vt":"str"},{"t":"eq","v":"TECNOLOGIA INDUSTRIAL","vt":"str"},{"t":"eq","v":"FRANCES","vt":"str"},{"t":"eq","v":"DIBUJO ARTISTICO","vt":"str"},{"t":"eq","v":"EDUCACION FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE LA MUSICA Y DE LA DANZA","vt":"str"},{"t":"eq","v":"FUNDAMENTOS DE ADMINISTRACION Y GESTION","vt":"str"},{"t":"eq","v":"RELIGION","vt":"str"},{"t":"eq","v":"CULTURA CIENTIFICA","vt":"str"},{"t":"eq","v":"TECNOLOGIA DE LA INFORMACION Y COMUNICACION","vt":"str"},{"t":"eq","v":"PSICOLOGIA","vt":"str"},{"t":"eq","v":"CIENCIAS DE LA TIERRA Y MEDIOAMBIENTE","vt":"str"},{"t":"eq","v":"ANATOMIA APLICADA","vt":"str"},{"t":"eq","v":"LENGUAJE Y PRACTICA MUSICAL","vt":"str"}],"checkall":"true","outputs":33,"x":628,"y":363,"wires":[["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["e394cadf.c19ff8"],["e394cadf.c19ff8"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"]]},{"id":"23bf0a33.f62a36","type":"function","z":"1526f3e0.1461ec","name":"Goma de Borrar","func":"     msg.params = {\n         context: {}\n     };\nreturn msg;","outputs":1,"noerr":0,"x":914,"y":48,"wires":[[]]},{"id":"825334af.6a8068","type":"debug","z":"1526f3e0.1461ec","name":"","active":true,"console":"false","complete":"payload","x":1286,"y":240,"wires":[]},{"id":"3937fbdc.a7ee94","type":"debug","z":"1526f3e0.1461ec","name":"","active":true,"console":"false","complete":"false","x":1293,"y":386,"wires":[]},{"id":"6d1f03ac.c89ddc","type":"debug","z":"1526f3e0.1461ec","name":"","active":true,"console":"false","complete":"false","x":1296,"y":535,"wires":[]},{"id":"e394cadf.c19ff8","type":"function","z":"1526f3e0.1461ec","name":"Organizar 3 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 3;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro};\n \n\n return msg;","outputs":1,"noerr":0,"x":919,"y":386,"wires":[["3937fbdc.a7ee94","48e8c0c2.9b8d3"]]},{"id":"3ce792c8.36c0fe","type":"function","z":"1526f3e0.1461ec","name":"Organizar 2 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 2;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro};\n \n\n return msg;","outputs":1,"noerr":0,"x":923,"y":534,"wires":[["6d1f03ac.c89ddc","48e8c0c2.9b8d3"]]},{"id":"68983ed5.d8cbb","type":"function","z":"1526f3e0.1461ec","name":"Organizar 4 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 4;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro};\n \n return msg;","outputs":1,"noerr":0,"x":924,"y":243,"wires":[["825334af.6a8068","48e8c0c2.9b8d3"]]},{"id":"dd5da53a.60acf8","type":"debug","z":"1526f3e0.1461ec","name":"","active":true,"console":"false","complete":"payload","x":415,"y":330,"wires":[]},{"id":"301fa244.fc18be","type":"telegram command","z":"1526f3e0.1461ec","name":"","command":"/watson","bot":"5e3a8dae.e34af4","x":753,"y":49,"wires":[[],[]]},{"id":"56ef6a6f.df7aa4","type":"telegram sender","z":"1526f3e0.1461ec","name":"","bot":"5e3a8dae.e34af4","x":265,"y":638,"wires":[[]]},{"id":"1b037dc9.1201e2","type":"function","z":"1526f3e0.1461ec","name":"Borrar al organizar","func":"if (msg.payload.Horas_estudio > 0){\n   msg.params = {\n         context: {}\n     };\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":265,"y":271,"wires":[["bc33bb12.01cec8"]]},{"id":"c365d29e.cb4618","type":"trigger","z":"1526f3e0.1461ec","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","reset":"","name":"","x":462,"y":49,"wires":[[]]},{"id":"55062614.7a1618","type":"delay","z":"1526f3e0.1461ec","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":621,"y":50,"wires":[[]]},{"id":"d814ffba.ddac7","type":"telegram receiver","z":"1526f3e0.1461ec","name":"","bot":"5e3a8dae.e34af4","saveDataDir":"","x":145,"y":60,"wires":[["6eb56edf.6f7a9"],[]]},{"id":"ccf3a71f.0c1f78","type":"link in","z":"1526f3e0.1461ec","name":"","links":["48e8c0c2.9b8d3"],"x":94,"y":272,"wires":[["1b037dc9.1201e2"]]},{"id":"48e8c0c2.9b8d3","type":"link out","z":"1526f3e0.1461ec","name":"","links":["ccf3a71f.0c1f78"],"x":1134,"y":386,"wires":[]},{"id":"5e3a8dae.e34af4","type":"telegram bot","z":"1526f3e0.1461ec","botname":"PruebasExcelencia3","usernames":"","chatids":""}]
