Flujo_Ejemplo_escribir_BD.json
[{"id":"4c5903f5.9e3594","type":"function","z":"4fdfb5cc.a02dac","name":"Reg_entrada_Usuario","func":"msg.payload =\n{\n   ID_USUARIO: 3,\n   NOMBRE : \"Pepe\",\n   APELLIDOS: \"Tuñas Martin\",\n   NOMBRE_USUARIO : \"PEPETuñas\",\n   CRYP : \"111111\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":340.5,"y":119,"wires":[["df6d5351.9557e","4152cb37.2c80c4"]]},{"id":"df6d5351.9557e","type":"dashDB out","z":"4fdfb5cc.a02dac","dashDB":"","service":"proyectoexcelencia_db","table":"USUARIO","name":"Escribir Tabla Usuario","x":592.5,"y":173,"wires":[]},{"id":"462b6b4f.984e04","type":"inject","z":"4fdfb5cc.a02dac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":137.5,"y":69,"wires":[["4c5903f5.9e3594"]]},{"id":"4152cb37.2c80c4","type":"debug","z":"4fdfb5cc.a02dac","name":"","active":true,"console":"false","complete":"false","x":569.5,"y":84,"wires":[]}]
