Flujo Conversation-Telegram
[{"id":"2764d4c.a6c902c","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"a042a52c.ab1318","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"1526f3e0.1461ec","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"580fb497.4c1fdc","type":"telegram bot","z":"2764d4c.a6c902c","botname":"PruebasExcelencia3","usernames":"","chatids":""},{"id":"6fb5a5de.f077dc","type":"telegram bot","z":"a042a52c.ab1318","botname":"PruebasExcelencia3","usernames":"","chatids":""},{"id":"5e3a8dae.e34af4","type":"telegram bot","z":"1526f3e0.1461ec","botname":"PruebasExcelencia3","usernames":"","chatids":""},{"id":"18b5989f.f0b877","type":"function","z":"2764d4c.a6c902c","name":"Preparar para Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;","outputs":1,"noerr":0,"x":445,"y":198,"wires":[["6ee1c77b.9d9d68"]]},{"id":"c80747f1.47c258","type":"function","z":"2764d4c.a6c902c","name":"Preparar para Telegram","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":466,"wires":[["9b9034c7.e69438"]]},{"id":"6ee1c77b.9d9d68","type":"watson-conversation-v1","z":"2764d4c.a6c902c","name":"","workspaceid":"58da1399-266e-48bf-9b44-ce276a9e221f","multiuser":true,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":433,"y":328,"wires":[["df157a42.354ee8","c80747f1.47c258","fe0b632f.8c3b3"]]},{"id":"fffe9bbb.5783f8","type":"function","z":"2764d4c.a6c902c","name":"Funcion Organizar / 4 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var paginas = msg.payload.context.paginas;\n var Horas_por_semana = 4;\n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro};\n \n\n return msg;","outputs":"1","noerr":0,"x":1051,"y":190,"wires":[["bd1f94da.0269f8"]]},{"id":"fe0b632f.8c3b3","type":"debug","z":"2764d4c.a6c902c","name":"","active":true,"console":"false","complete":"payload","x":732,"y":418,"wires":[]},{"id":"df157a42.354ee8","type":"switch","z":"2764d4c.a6c902c","name":"","property":"payload.context.apuntar_asignatura","propertyType":"msg","rules":[{"t":"eq","v":"MATEMATICAS, LENGUA CASTELLANA Y LITERATURA, FISICA Y QUIMICA, GRIEGO, LATIN, MATEMATICAS APLICADAS A LAS CIENCIAS SOCIALES, LITERATURA UNIVERSAL, FILOSOFIA, GEOGRAFIA, ECONOMIA DE LA EMPRESA,BIOLOGIA Y GEOLOGIA, GEOLOGIA, QUIMICA, HISTORIA DEL ARTE, HISTORIA DE LA FILOSOFIA, INGLES, DIBUJO TECNICO, FISICA,HISTORIA DE ESPAÑA, ECONOMIA, HISTORIA DEL MUNDO CONTEMPORANEO","vt":"str"},{"t":"eq","v":"TECNOLOGIA INDUSTRIAL || FRANCES","vt":"str"},{"t":"cont","v":"DIBUJO ARTISTICO, EDUCACION FISICA, HISTORIA DE LA MUSICA Y DE LA DANZA, FUNDAMENTOS DE ADMINISTRACION Y GESTION, RELIGION, CULTURA CIENTIFICA, TECNOLOGIA DE LA INFORMACION Y COMUNICACION, PSICOLOGIA, CIENCIAS DE LA TIERRA Y MEDIOAMBIENTE, ANATOMIA APLICADA, LENGUAJE Y PRACTICA MUSICAL  ","vt":"str"}],"checkall":"true","outputs":3,"x":739,"y":277,"wires":[["fffe9bbb.5783f8"],["f3447a8a.2b9f28"],["541d4631.a32458"]]},{"id":"1a1bdf7a.9081a1","type":"dashDB in","z":"2764d4c.a6c902c","dashDB":"","service":"proyectoexcelencia_bd","query":"SELECT HORAS_SEMANALES FROM ASIGNATURA WHERE NOMBRE = 'MATEMATICAS';","params":"","name":"Matematicas","x":770,"y":40,"wires":[[]]},{"id":"f2bf118d.fa1d1","type":"function","z":"2764d4c.a6c902c","name":"Goma de Borrar","func":"     msg.params = {\n         context: {}\n     };\nreturn msg;","outputs":1,"noerr":0,"x":517,"y":76,"wires":[[]]},{"id":"7e4d6ed0.1d326","type":"dashDB in","z":"2764d4c.a6c902c","dashDB":"","service":"proyectoexcelencia_bd","query":"SELECT HORAS_SEMANALES FROM ASIGNATURA WHERE NOMBRE = 'TECNOLOGIA INDUSTRIAL';","params":"","name":"TIN","x":750,"y":80,"wires":[[]]},{"id":"ae321230.148b3","type":"dashDB in","z":"2764d4c.a6c902c","dashDB":"","service":"proyectoexcelencia_bd","query":"SELECT HORAS_SEMANALES FROM ASIGNATURA WHERE NOMBRE = 'EDUCACION FISICA';","params":"","name":"Educacion Fisica","x":790,"y":120,"wires":[[]]},{"id":"9df22af2.38d0c8","type":"function","z":"a042a52c.ab1318","name":"Preparar para Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;","outputs":1,"noerr":0,"x":308,"y":288,"wires":[["a651fb44.ccdcf8"]]},{"id":"a648a98c.e37d68","type":"function","z":"a042a52c.ab1318","name":"Preparar para Telegram","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":566,"wires":[["52b18300.95428c"]]},{"id":"a651fb44.ccdcf8","type":"watson-conversation-v1","z":"a042a52c.ab1318","name":"","workspaceid":"58da1399-266e-48bf-9b44-ce276a9e221f","multiuser":true,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":301,"y":418,"wires":[["c54c1813.196e38","818668c0.fab0a8","a648a98c.e37d68","65ca54d7.d12bac"]]},{"id":"65ca54d7.d12bac","type":"function","z":"a042a52c.ab1318","name":"Funcion Organizar","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = Horas_semana;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_bases\": Horas_base, \"Horas_estudio\": Horas_estudio};\n return msg;","outputs":1,"noerr":0,"x":662,"y":571,"wires":[["c54c1813.196e38"]]},{"id":"c54c1813.196e38","type":"debug","z":"a042a52c.ab1318","name":"","active":true,"console":"false","complete":"payload","x":757,"y":491,"wires":[]},{"id":"818668c0.fab0a8","type":"switch","z":"a042a52c.ab1318","name":"","property":"payload.context.apuntar_asignatura","propertyType":"msg","rules":[{"t":"eq","v":"MATEMATICAS, LENGUA CASTELLANA Y LITERATURA, FISICA Y QUIMICA, GRIEGO, LATIN, MATEMATICAS APLICADAS A LAS CIENCIAS SOCIALES, LITERATURA UNIVERSAL, FILOSOFIA, GEOGRAFIA, ECONOMIA DE LA EMPRESA,BIOLOGIA Y GEOLOGIA, GEOLOGIA, QUIMICA, HISTORIA DEL ARTE, HISTORIA DE LA FILOSOFIA, INGLES, DIBUJO TECNICO, FISICA,HISTORIA DE ESPAÑA, ECONOMIA, HISTORIA DEL MUNDO CONTEMPORANEO      ","vt":"str"},{"t":"eq","v":"TECNOLOGIA INDUSTRIAL, FRANCES","vt":"str"},{"t":"eq","v":"DIBUJO ARTISTICO, EDUCACION FISICA, HISTORIA DE LA MUSICA Y DE LA DANZA, FUNDAMENTOS DE ADMINISTRACION Y GESTION, RELIGION, CULTURA CIENTIFICA, TECNOLOGIA DE LA INFORMACION Y COMUNICACION, PSICOLOGIA, CIENCIAS DE LA TIERRA Y MEDIOAMBIENTE, ANATOMIA APLICADA, LENGUAJE Y PRACTICA MUSICAL  ","vt":"str"}],"checkall":"true","outputs":3,"x":608,"y":322,"wires":[["83cd226f.f8815"],["5ce3bc1a.4e51d4"],["1ffe8300.fc88dd"]]},{"id":"83cd226f.f8815","type":"dashDB in","z":"a042a52c.ab1318","dashDB":"","service":"proyectoexcelencia_bd","query":"SELECT HORAS_SEMANALES FROM ASIGNATURA WHERE NOMBRE = 'MATEMATICAS';","params":"","name":"Matematicas","x":822,"y":208,"wires":[["ef76db68.b73de8"]]},{"id":"fa5fddc.4698b2","type":"function","z":"a042a52c.ab1318","name":"Goma de Borrar","func":"     msg.params = {\n         context: {}\n     };\nreturn msg;","outputs":1,"noerr":0,"x":448,"y":170,"wires":[[]]},{"id":"5ce3bc1a.4e51d4","type":"dashDB in","z":"a042a52c.ab1318","dashDB":"","service":"proyectoexcelencia_bd","query":"SELECT HORAS_SEMANALES FROM ASIGNATURA WHERE NOMBRE = 'TECNOLOGIA INDUSTRIAL';","params":"","name":"TIN","x":805,"y":320,"wires":[["b702eea1.9f0c2"]]},{"id":"ef76db68.b73de8","type":"function","z":"a042a52c.ab1318","name":"4 horas","func":"var Horas_por_semana = Horas_semana;\nHoras_semana = 4;\nreturn msg;","outputs":1,"noerr":0,"x":1018,"y":208,"wires":[["be63163a.38c098","eabb6035.1960c"]]},{"id":"be63163a.38c098","type":"debug","z":"a042a52c.ab1318","name":"","active":true,"console":"false","complete":"false","x":1354,"y":208,"wires":[]},{"id":"b702eea1.9f0c2","type":"function","z":"a042a52c.ab1318","name":"3 horas","func":"var Horas_por_semana = Horas_semana;\nHoras_semana = 3;\nreturn msg;","outputs":1,"noerr":0,"x":1015,"y":320,"wires":[["794eaaa.5910754","eabb6035.1960c"]]},{"id":"794eaaa.5910754","type":"debug","z":"a042a52c.ab1318","name":"","active":true,"console":"false","complete":"false","x":1356,"y":318,"wires":[]},{"id":"61e5d9db.1921f8","type":"debug","z":"a042a52c.ab1318","name":"","active":true,"console":"false","complete":"false","x":1364,"y":430,"wires":[]},{"id":"2720534.e07d8ac","type":"function","z":"a042a52c.ab1318","name":"2 horas","func":"var Horas_por_semana = Horas_semana;\nHoras_semana = 2;\nreturn msg;","outputs":1,"noerr":0,"x":1014,"y":431,"wires":[["61e5d9db.1921f8","eabb6035.1960c"]]},{"id":"1ffe8300.fc88dd","type":"dashDB in","z":"a042a52c.ab1318","dashDB":"","service":"proyectoexcelencia_bd","query":"SELECT HORAS_SEMANALES FROM ASIGNATURA WHERE NOMBRE = 'EDUCACION FISICA';","params":"","name":"Educacion Fisica","x":843,"y":432,"wires":[["2720534.e07d8ac"]]},{"id":"6eb56edf.6f7a9","type":"function","z":"1526f3e0.1461ec","name":"Preparar para Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":263,"y":134,"wires":[["bc33bb12.01cec8"]]},{"id":"b1feb343.cec8e","type":"function","z":"1526f3e0.1461ec","name":"Preparar para Telegram","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":326,"y":376,"wires":[["56ef6a6f.df7aa4"]]},{"id":"bc33bb12.01cec8","type":"watson-conversation-v1","z":"1526f3e0.1461ec","name":"","workspaceid":"58da1399-266e-48bf-9b44-ce276a9e221f","multiuser":true,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":265,"y":249,"wires":[["1174b011.ae3ca","b1feb343.cec8e","dd5da53a.60acf8"]]},{"id":"1174b011.ae3ca","type":"switch","z":"1526f3e0.1461ec","name":"Mega Switch","property":"payload.context.apuntar_asignatura","propertyType":"msg","rules":[{"t":"eq","v":"MATEMATICAS","vt":"str"},{"t":"eq","v":"LENGUA CASTELLANA Y LITERATURA","vt":"str"},{"t":"eq","v":"FISICA Y QUIMICA","vt":"str"},{"t":"eq","v":"GRIEGO","vt":"str"},{"t":"eq","v":"LATIN","vt":"str"},{"t":"eq","v":"MATEMATICAS APLICADAS A LAS CIENCIAS SOCIALES","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"GEOGRAFIA","vt":"str"},{"t":"eq","v":"ECONOMIA DE LA EMPRESA,BIOLOGIA Y GEOLOGIA","vt":"str"},{"t":"eq","v":"GEOLOGIA","vt":"str"},{"t":"eq","v":"QUIMICA","vt":"str"},{"t":"eq","v":"HISTORIA DEL ARTE","vt":"str"},{"t":"eq","v":"HISTORIA DE LA FILOSOFIA","vt":"str"},{"t":"eq","v":"INGLES","vt":"str"},{"t":"eq","v":"DIBUJO TECNICO","vt":"str"},{"t":"eq","v":"FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE ESPAÑA","vt":"str"},{"t":"eq","v":"ECONOMIA","vt":"str"},{"t":"eq","v":"HISTORIA DEL MUNDO CONTEMPORANEO","vt":"str"},{"t":"eq","v":"TECNOLOGIA INDUSTRIAL","vt":"str"},{"t":"eq","v":"FRANCES","vt":"str"},{"t":"eq","v":"DIBUJO ARTISTICO","vt":"str"},{"t":"eq","v":"EDUCACION FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE LA MUSICA Y DE LA DANZA","vt":"str"},{"t":"eq","v":"FUNDAMENTOS DE ADMINISTRACION Y GESTION","vt":"str"},{"t":"eq","v":"RELIGION","vt":"str"},{"t":"eq","v":"CULTURA CIENTIFICA","vt":"str"},{"t":"eq","v":"TECNOLOGIA DE LA INFORMACION Y COMUNICACION","vt":"str"},{"t":"eq","v":"PSICOLOGIA","vt":"str"},{"t":"eq","v":"CIENCIAS DE LA TIERRA Y MEDIOAMBIENTE","vt":"str"},{"t":"eq","v":"ANATOMIA APLICADA","vt":"str"},{"t":"eq","v":"LENGUAJE Y PRACTICA MUSICAL","vt":"str"}],"checkall":"true","outputs":33,"x":630,"y":326,"wires":[["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["68983ed5.d8cbb"],["e394cadf.c19ff8"],["e394cadf.c19ff8"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"],["3ce792c8.36c0fe"]]},{"id":"23bf0a33.f62a36","type":"function","z":"1526f3e0.1461ec","name":"Goma de Borrar","func":"     msg.params = {\n         context: {}\n     };\nreturn msg;","outputs":1,"noerr":0,"x":386,"y":44,"wires":[[]]},{"id":"825334af.6a8068","type":"debug","z":"1526f3e0.1461ec","name":"","active":true,"console":"false","complete":"payload","x":1147,"y":209,"wires":[]},{"id":"3937fbdc.a7ee94","type":"debug","z":"1526f3e0.1461ec","name":"","active":true,"console":"false","complete":"false","x":1146,"y":378,"wires":[]},{"id":"6d1f03ac.c89ddc","type":"debug","z":"1526f3e0.1461ec","name":"","active":true,"console":"false","complete":"false","x":1146,"y":523,"wires":[]},{"id":"e394cadf.c19ff8","type":"function","z":"1526f3e0.1461ec","name":"Organizar 3 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 3;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro};\n \n\n return msg;","outputs":1,"noerr":0,"x":923,"y":379,"wires":[["3937fbdc.a7ee94"]]},{"id":"3ce792c8.36c0fe","type":"function","z":"1526f3e0.1461ec","name":"Organizar 2 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 2;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro};\n \n\n return msg;","outputs":1,"noerr":0,"x":919,"y":523,"wires":[["6d1f03ac.c89ddc"]]},{"id":"68983ed5.d8cbb","type":"function","z":"1526f3e0.1461ec","name":"Organizar 4 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 4;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro};\n \n\n return msg;","outputs":1,"noerr":0,"x":919,"y":210,"wires":[["825334af.6a8068"]]},{"id":"f3447a8a.2b9f28","type":"function","z":"2764d4c.a6c902c","name":"Funcion Organizar / 3 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var paginas = msg.payload.context.paginas;\n var Horas_por_semana = 3;\n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro};\n \n\n return msg;","outputs":1,"noerr":0,"x":1052,"y":279,"wires":[["bd1f94da.0269f8"]]},{"id":"541d4631.a32458","type":"function","z":"2764d4c.a6c902c","name":"Funcion Organizar / 2 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var paginas = msg.payload.context.paginas;\n var Horas_por_semana = 2;\n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro};\n \n\n return msg;","outputs":1,"noerr":0,"x":1054,"y":372,"wires":[["bd1f94da.0269f8"]]},{"id":"bd1f94da.0269f8","type":"debug","z":"2764d4c.a6c902c","name":"","active":true,"console":"false","complete":"false","x":1386,"y":279,"wires":[]},{"id":"dd5da53a.60acf8","type":"debug","z":"1526f3e0.1461ec","name":"","active":true,"console":"false","complete":"false","x":450,"y":209,"wires":[]},{"id":"9c1d151a.55f908","type":"link in","z":"a042a52c.ab1318","name":"","links":[],"x":483,"y":571,"wires":[["65ca54d7.d12bac"]]},{"id":"eabb6035.1960c","type":"link out","z":"a042a52c.ab1318","name":"","links":[],"x":1215,"y":319,"wires":[]},{"id":"834d3e06.f8106","type":"telegram command","z":"2764d4c.a6c902c","name":"","command":"/watson","bot":"814f3db1.7b98c","x":301,"y":83,"wires":[["18b5989f.f0b877"],[]]},{"id":"2e54aac2.3a0936","type":"telegram command","z":"a042a52c.ab1318","name":"","command":"/watson","bot":"381a677f.3b1c28","x":201,"y":174,"wires":[["9df22af2.38d0c8"],[]]},{"id":"301fa244.fc18be","type":"telegram command","z":"1526f3e0.1461ec","name":"","command":"/watson","bot":"5e3a8dae.e34af4","x":170,"y":42,"wires":[["6eb56edf.6f7a9"],[]]},{"id":"9b9034c7.e69438","type":"telegram sender","z":"2764d4c.a6c902c","name":"","bot":"814f3db1.7b98c","x":666,"y":598,"wires":[[]]},{"id":"52b18300.95428c","type":"telegram sender","z":"a042a52c.ab1318","name":"","bot":"381a677f.3b1c28","x":447,"y":695,"wires":[[]]},{"id":"56ef6a6f.df7aa4","type":"telegram sender","z":"1526f3e0.1461ec","name":"","bot":"5e3a8dae.e34af4","x":364,"y":508,"wires":[[]]}]
