Flujo Conversation-Telegram
[{"id":"69c7e5b8.4a5cd4","type":"function","z":"f97335cb.86962","name":"Preparar para Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;","outputs":1,"noerr":0,"x":445,"y":310,"wires":[["f352a980.bd56e"]]},{"id":"c1cd53a4.31d26","type":"function","z":"f97335cb.86962","name":"Preparar para Telegram","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":851,"y":495,"wires":[["3e3af155.a57a96"]]},{"id":"f352a980.bd56e","type":"watson-conversation-v1","z":"f97335cb.86962","name":"","workspaceid":"58da1399-266e-48bf-9b44-ce276a9e221f","multiuser":true,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":630,"y":400,"wires":[["8e06a216.27b5f8","43e991d6.f03b98","715cb809.dd059","c1cd53a4.31d26"]]},{"id":"43e991d6.f03b98","type":"function","z":"f97335cb.86962","name":"Funcion Organizar","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 4;\n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_bases\": Horas_base, \"Horas_estudio\": Horas_estudio};\n return msg;","outputs":1,"noerr":0,"x":1110,"y":460,"wires":[["8e06a216.27b5f8"]]},{"id":"8e06a216.27b5f8","type":"debug","z":"f97335cb.86962","name":"","active":true,"console":"false","complete":"false","x":1270,"y":400,"wires":[]},{"id":"715cb809.dd059","type":"switch","z":"f97335cb.86962","name":"","property":"payload.context.apuntar_asignatura","propertyType":"msg","rules":[{"t":"eq","v":"Matematicas","vt":"str"},{"t":"eq","v":"Tecnología industrial","vt":"str"}],"checkall":"true","outputs":2,"x":810,"y":320,"wires":[["65af5b5d.f42904"],["349821fe.efcbe6"]]},{"id":"65af5b5d.f42904","type":"dashDB in","z":"f97335cb.86962","dashDB":"","service":"proyectoexcelencia_bd","query":"SELECT HORAS_SEMANALES FROM ASIGNATURA WHERE NOMBRE = 'MATEMATICAS';","params":"","name":"Matematicas","x":1010,"y":260,"wires":[["8e06a216.27b5f8"]]},{"id":"e8f923c0.a74408","type":"function","z":"f97335cb.86962","name":"Goma de Borrar","func":"     msg.params = {\n         context: {}\n     };\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":380,"wires":[[]]},{"id":"349821fe.efcbe6","type":"dashDB in","z":"f97335cb.86962","dashDB":"","service":"proyectoexcelencia_bd","query":"SELECT HORAS_SEMANALES FROM ASIGNATURA WHERE NOMBRE = 'TECNOLOGIA INDUSTRIAL';","params":"","name":"TIN","x":990,"y":340,"wires":[["8e06a216.27b5f8"]]},{"id":"c06bf265.81bc08","type":"telegram command","z":"f97335cb.86962","name":"","command":"/watson","bot":"73a2f69a.7963c8","x":270,"y":212,"wires":[["69c7e5b8.4a5cd4"],[]]},{"id":"3e3af155.a57a96","type":"telegram sender","z":"f97335cb.86962","name":"","bot":"73a2f69a.7963c8","x":1071,"y":590,"wires":[[]]},{"id":"73a2f69a.7963c8","type":"telegram bot","z":"f97335cb.86962","botname":"PruebasExcelencia3","usernames":"","chatids":""}]
