Flujo_ejemplo_leer_reg_concreto.json
[{"id":"2283d113.f4779e","type":"inject","z":"50709766.d09b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":87.18749999999997,"y":57.49999999999998,"wires":[["9c76daeb.d5dfa8"]]},{"id":"51b98d26.108724","type":"debug","z":"50709766.d09b8","name":"","active":true,"console":"false","complete":"false","x":432.1875,"y":192.5,"wires":[]},{"id":"9c76daeb.d5dfa8","type":"dashDB in","z":"50709766.d09b8","dashDB":"","service":"proyectoexcelencia_db","query":"SELECT ID_USUARIO, NOMBRE, APELLIDOS, NOMBRE_USUARIO, CRYP FROM USUARIO WHERE NOMBRE = 'Elisa';","params":"","name":"leer_dato _concreto","x":290.9374999999999,"y":64.99999999999997,"wires":[["51b98d26.108724"]]}]
