Flujo_ejemplo_leer_registros_BD.json
[{"id":"bbf24912.0dbcc","type":"dashDB in","z":"116331da.e025c6","dashDB":"","service":"proyectoexcelencia_db","query":"SELECT ID_USUARIO, NOMBRE, APELLIDOS, NOMBRE_USUARIO, CRYP FROM USUARIO ","params":"","name":"Leer_registro_","x":293.4375,"y":112.5,"wires":[["64e673d0.798584"]]},{"id":"64e673d0.798584","type":"debug","z":"116331da.e025c6","name":"","active":true,"console":"false","complete":"false","x":526.5624999999998,"y":113.74999999999996,"wires":[]},{"id":"148b6ef3.dcdf21","type":"inject","z":"116331da.e025c6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100.93749999999997,"y":82.49999999999997,"wires":[["bbf24912.0dbcc"]]}]
