Flujo Conversation-Telegram
[{"id":"f93827d.e3f8ed8","type":"function","z":"59c263a.004929c","name":"Preparar para Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":212,"wires":[["d815dcf0.a6082"]]},{"id":"5c2cb80a.197c08","type":"function","z":"59c263a.004929c","name":"Preparar para Telegram","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":883,"y":397,"wires":[["4ac952cc.7a918c"]]},{"id":"d815dcf0.a6082","type":"watson-conversation-v1","z":"59c263a.004929c","name":"","workspaceid":"58da1399-266e-48bf-9b44-ce276a9e221f","multiuser":false,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":684,"y":305,"wires":[["5c2cb80a.197c08","55d48972.b90cb","a608553f.92d5e"]]},{"id":"7921fdfc.80ad84","type":"telegram command","z":"59c263a.004929c","name":"","command":"/watson","bot":"6625bd27.eb0104","x":302,"y":114,"wires":[["f93827d.e3f8ed8"],[]]},{"id":"4ac952cc.7a918c","type":"telegram sender","z":"59c263a.004929c","name":"","bot":"6625bd27.eb0104","x":1103,"y":492,"wires":[[]]},{"id":"a608553f.92d5e","type":"function","z":"59c263a.004929c","name":"Funcion Organizar","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas};\n return msg;","outputs":1,"noerr":0,"x":945,"y":203.75,"wires":[["55d48972.b90cb"]]},{"id":"55d48972.b90cb","type":"debug","z":"59c263a.004929c","name":"","active":true,"console":"false","complete":"false","x":1123.75,"y":246.25,"wires":[]},{"id":"6625bd27.eb0104","type":"telegram bot","z":"","botname":"PruebasExcelencia3","usernames":"","chatids":""}]
