Organizar_Planificar_Flow1.JSON
[{"id":"d74d0201.2889c","type":"inject","z":"df6df6eb.be31e","name":"Parametros de Prueba","topic":"","payload":"{\"Semanas\":1,\"Horas_por_semana\":3,\"Constante\":5,\"Dificultad\":3,\"Interes\":3,\"Nota_actividad\":8}","payloadType":"json","repeat":"","crontab":"","once":true,"x":136,"y":91.25,"wires":[["584360fb.b7a0b8","24ad3b65.7f678c"]]},{"id":"584360fb.b7a0b8","type":"debug","z":"df6df6eb.be31e","name":"","active":true,"console":"false","complete":"payload","x":351,"y":46.5,"wires":[]},{"id":"89fa8238.a151f","type":"debug","z":"df6df6eb.be31e","name":"","active":true,"console":"false","complete":"false","x":447,"y":193.5,"wires":[]},{"id":"24ad3b65.7f678c","type":"function","z":"df6df6eb.be31e","name":"Organizar_V1","func":"// recuperamos el mensaje del área compartida msg.payload con las variables de entrada\n// he utilizado un nodo de inyectar mensaje para hacer las pruebas . El mensaje lo estructurado en un formato JSON\n\n\nvar Semanas = msg.payload.Semanas;\nvar Horas_por_semana = msg.payload.Horas_por_semana;\nvar Constante  = msg.payload.Constante;\nvar Dificultad = msg.payload.Dificultad;\nvar Interes = msg.payload.Interes;\nvar Nota_actividad = msg.payload.Nota_actividad;\n\n// realizamos los calculos\n\nvar Horas_base =  Semanas * Horas_por_semana * Constante\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes+Nota_actividad);\n\n// pasamos las dos variales calculadas al siguiente nodo estructurandolo como un Objeto JAVASCRIPT\n\nmsg.payload = {\"Horas_bases\": Horas_base, \"Horas_estudio\": Horas_estudio };\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":222,"y":180.75,"wires":[["89fa8238.a151f","e200651f.98ddf8"]]},{"id":"e200651f.98ddf8","type":"function","z":"df6df6eb.be31e","name":"Planificar_V1","func":"//recogemos el valor de la variable desde el msg.payload que es el mesnaje que se pasan entre los nodos\n\nvar Horas_estudio = msg.payload.Horas_estudio;\n\n// realizamos los calculos redondeando para que las variables Dias de salida sean valores enteros \n\nvar Dias_estudio = Math.round(Horas_estudio / 4 );\nvar Horas_estudio_dia = Math.round((Horas_estudio * 1) / (Dias_estudio + 1) );\nvar Horas_estudio_dia_anterior = Horas_estudio_dia * 2;\n\n// construimos el mesnaje de salida para el siguiente nodo\n\nmsg.payload = {\"Dias_estudio\":Dias_estudio,\"Horas_estudio_dia\": Horas_estudio_dia, \"Horas_estudio_dia_anterior\" : Horas_estudio_dia_anterior} ;\nreturn msg;","outputs":1,"noerr":0,"x":364.5,"y":307,"wires":[["259f2c6e.62ae9c"]]},{"id":"259f2c6e.62ae9c","type":"debug","z":"df6df6eb.be31e","name":"","active":true,"console":"false","complete":"false","x":579.5,"y":306,"wires":[]}]
