Todos los nodos APP 1
[{"id":"924fdba7.c4daf8","type":"tab","label":"AvecuBot","disabled":false,"info":""},{"id":"63a109cf.1ac7f8","type":"tab","label":"ZonoBot","disabled":false,"info":""},{"id":"bfc44558.7c1f68","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"9b6b5da4.a778b","type":"tab","label":"Flow 5","disabled":true,"info":""},{"id":"81aa7bd3.be8718","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"4ed8e6d0.910e18","type":"tab","label":"Pruebas AVECU 1.1","disabled":true,"info":""},{"id":"5cd8255f.7fda1c","type":"tab","label":"Pruebas AVECU 1.1","disabled":true,"info":""},{"id":"9cba38e4.0c8158","type":"telegram bot","z":"bfc44558.7c1f68","botname":"PruebasExcelencia3","usernames":"","chatids":""},{"id":"f80e700d.ddb21","type":"telegram bot","z":"9b6b5da4.a778b","botname":"PruebasExcelencia3","usernames":"","chatids":""},{"id":"40d19c0b.735154","type":"chatbot-telegram-node","z":"","botname":"ZonoBot 2","usernames":"","polling":"1000","log":""},{"id":"1b5c9329.c6d79d","type":"chatbot-telegram-node","z":"","botname":"AVECU ALFA","usernames":"","polling":"1000","log":""},{"id":"348b3d7a.656b82","type":"function","z":"924fdba7.c4daf8","name":"Preparar para Conversation","func":"msg.user = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":186,"y":188,"wires":[["65b551a5.bb744"]]},{"id":"b1876d4c.6cd6d","type":"function","z":"924fdba7.c4daf8","name":"Preparar para Telegram","func":"msg.payload = {\n  chatId : msg.user,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":198,"y":602,"wires":[["1b968e2c.e8c8c2"]]},{"id":"9192b396.c2ab2","type":"watson-conversation-v1","z":"924fdba7.c4daf8","name":"","workspaceid":"58da1399-266e-48bf-9b44-ce276a9e221f","multiuser":true,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":186,"y":435,"wires":[["5f3e52d.03257ac","cf2c423e.f752a","b1876d4c.6cd6d","c8cc040.e765e","f5c53cb9.4988c"]],"inputLabels":["msg.user"]},{"id":"5f3e52d.03257ac","type":"switch","z":"924fdba7.c4daf8","name":"Mega Switch","property":"payload.context.apuntar_asignatura","propertyType":"msg","rules":[{"t":"eq","v":"MATEMATICAS","vt":"str"},{"t":"eq","v":"LENGUA CASTELLANA Y LITERATURA","vt":"str"},{"t":"eq","v":"FISICA Y QUIMICA","vt":"str"},{"t":"eq","v":"GRIEGO","vt":"str"},{"t":"eq","v":"LATIN","vt":"str"},{"t":"eq","v":"MATEMATICAS APLICADAS A LAS CIENCIAS SOCIALES","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"GEOGRAFIA","vt":"str"},{"t":"eq","v":"ECONOMIA DE LA EMPRESA,BIOLOGIA Y GEOLOGIA","vt":"str"},{"t":"eq","v":"GEOLOGIA","vt":"str"},{"t":"eq","v":"QUIMICA","vt":"str"},{"t":"eq","v":"HISTORIA DEL ARTE","vt":"str"},{"t":"eq","v":"HISTORIA DE LA FILOSOFIA","vt":"str"},{"t":"eq","v":"INGLES","vt":"str"},{"t":"eq","v":"DIBUJO TECNICO","vt":"str"},{"t":"eq","v":"FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE ESPAÑA","vt":"str"},{"t":"eq","v":"ECONOMIA","vt":"str"},{"t":"eq","v":"HISTORIA DEL MUNDO CONTEMPORANEO","vt":"str"},{"t":"eq","v":"TECNOLOGIA INDUSTRIAL","vt":"str"},{"t":"eq","v":"FRANCES","vt":"str"},{"t":"eq","v":"DIBUJO ARTISTICO","vt":"str"},{"t":"eq","v":"EDUCACION FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE LA MUSICA Y DE LA DANZA","vt":"str"},{"t":"eq","v":"FUNDAMENTOS DE ADMINISTRACION Y GESTION","vt":"str"},{"t":"eq","v":"RELIGION","vt":"str"},{"t":"eq","v":"CULTURA CIENTIFICA","vt":"str"},{"t":"eq","v":"TECNOLOGIA DE LA INFORMACION Y COMUNICACION","vt":"str"},{"t":"eq","v":"PSICOLOGIA","vt":"str"},{"t":"eq","v":"CIENCIAS DE LA TIERRA Y MEDIOAMBIENTE","vt":"str"},{"t":"eq","v":"ANATOMIA APLICADA","vt":"str"},{"t":"eq","v":"LENGUAJE Y PRACTICA MUSICAL","vt":"str"}],"checkall":"true","outputs":33,"x":627,"y":380,"wires":[["7529cd77.3a8204"],["7529cd77.3a8204"],["7529cd77.3a8204"],["7529cd77.3a8204"],["7529cd77.3a8204"],["7529cd77.3a8204"],["7529cd77.3a8204"],["7529cd77.3a8204"],["7529cd77.3a8204"],["7529cd77.3a8204"],["7529cd77.3a8204"],["7529cd77.3a8204"],["7529cd77.3a8204"],["7529cd77.3a8204"],["7529cd77.3a8204"],["7529cd77.3a8204"],["7529cd77.3a8204"],["7529cd77.3a8204"],["7529cd77.3a8204"],["7529cd77.3a8204"],["4f8bf140.b266f"],["4f8bf140.b266f"],["891d6574.95e6a8"],["891d6574.95e6a8"],["891d6574.95e6a8"],["891d6574.95e6a8"],["891d6574.95e6a8"],["891d6574.95e6a8"],["891d6574.95e6a8"],["891d6574.95e6a8"],["891d6574.95e6a8"],["891d6574.95e6a8"],["891d6574.95e6a8"]]},{"id":"b05f4176.7d839","type":"function","z":"924fdba7.c4daf8","name":"Goma de Borrar","func":"     msg.params = {\n         context: {}\n     };\nreturn msg;","outputs":1,"noerr":0,"x":645.5556030273438,"y":34.4444465637207,"wires":[[]]},{"id":"d7e23c39.80441","type":"debug","z":"924fdba7.c4daf8","name":"","active":true,"console":"false","complete":"payload","x":1283,"y":232,"wires":[]},{"id":"866c0941.b7d0a8","type":"debug","z":"924fdba7.c4daf8","name":"","active":true,"console":"false","complete":"false","x":1290,"y":378,"wires":[]},{"id":"708afe77.3ebe9","type":"debug","z":"924fdba7.c4daf8","name":"","active":true,"console":"false","complete":"false","x":1293,"y":527,"wires":[]},{"id":"4f8bf140.b266f","type":"function","z":"924fdba7.c4daf8","name":"Organizar 3 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.4;\n  }\n   if (msg.payload.context.negacion == \"No\"){\n     var Negacion = 1;\n }\n \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 3;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro, \"Negacion\":Negacion};\n \n\n return msg;","outputs":1,"noerr":0,"x":916,"y":378,"wires":[["866c0941.b7d0a8","80677247.f1d89"]]},{"id":"891d6574.95e6a8","type":"function","z":"924fdba7.c4daf8","name":"Organizar 2 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.4;\n  }\n  if (msg.payload.context.negacion == \"No\"){\n     var Negacion = 1;\n }\n \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 2;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro, \"Negacion\":Negacion};\n \n\n return msg;","outputs":1,"noerr":0,"x":920,"y":526,"wires":[["708afe77.3ebe9","80677247.f1d89"]]},{"id":"7529cd77.3a8204","type":"function","z":"924fdba7.c4daf8","name":"Organizar 4 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.4;\n  }\n if (msg.payload.context.negacion == \"No\"){\n     var Negacion = 1;\n }\n      \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 4;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro, \"Negacion\":Negacion};\n \n \nreturn msg;","outputs":1,"noerr":0,"x":921,"y":235,"wires":[["d7e23c39.80441","80677247.f1d89"]]},{"id":"cf2c423e.f752a","type":"debug","z":"924fdba7.c4daf8","name":"","active":true,"console":"false","complete":"payload","x":430,"y":320,"wires":[]},{"id":"65b551a5.bb744","type":"function","z":"924fdba7.c4daf8","name":"Borrar al finalizar","func":"if (msg.payload.Horas_estudio > 0){\n   msg.params = {\n         context: {}\n     };\n    \n}\nif (msg.payload.Horas_libro > 0){\n    msg.params = {\n         context: {}\n     };\n}\nif (msg.payload.Negacion > 0){\n    msg.params = {\n         context: {}\n     };\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":203,"y":312,"wires":[["9192b396.c2ab2"]]},{"id":"533d72f4.f1b10c","type":"link in","z":"924fdba7.c4daf8","name":"","links":["80677247.f1d89"],"x":38,"y":313,"wires":[["65b551a5.bb744","946f0b8f.0ae3e8"]]},{"id":"80677247.f1d89","type":"link out","z":"924fdba7.c4daf8","name":"","links":["533d72f4.f1b10c"],"x":1131,"y":378,"wires":[]},{"id":"c8cc040.e765e","type":"function","z":"924fdba7.c4daf8","name":"Introducir datos en BD","func":"msg.payload =\n\n{\nFECHA:msg.payload.context.date,\n\nTIPO_ACTIVIDAD:\tmsg.payload.context.apuntar_tipo,\n\nASIGNATURA: msg.payload.context.apuntar_asignatura,\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":611,"y":751,"wires":[["5ecaa2d9.4b4e3c","82ed080b.0a8508"]]},{"id":"82ed080b.0a8508","type":"debug","z":"924fdba7.c4daf8","name":"","active":true,"console":"false","complete":"false","x":905,"y":672,"wires":[]},{"id":"5ecaa2d9.4b4e3c","type":"dashDB out","z":"924fdba7.c4daf8","dashDB":"","service":"proyectoexcelencia_bd","table":"PRUEBASNODERED","name":"Tabla PRUEBASNODERED","x":951,"y":790,"wires":[]},{"id":"946f0b8f.0ae3e8","type":"function","z":"924fdba7.c4daf8","name":"Mensaje FINAL","func":"if (msg.payload.Horas_libro > 0){\nconsole.log(msg);\nvar chat = msg.chat();\nmsg.payload = \"Vas a tardar \" + Math.round(msg.payload.Horas_libro) +\" horas en leerte el libro.\";\n}\n\nif (msg.payload.Horas_estudio > 0){\nconsole.log(msg);\nvar chat = msg.chat();\nmsg.payload = \"Vas a tardar \" + Math.round(msg.payload.Horas_estudio) +\" horas en prepararte este examen.\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":100,"wires":[["649f9a9b.599954","b2c4890a.8ee808"]]},{"id":"b2c4890a.8ee808","type":"debug","z":"924fdba7.c4daf8","name":"","active":true,"console":"false","complete":"false","x":1193,"y":83,"wires":[]},{"id":"2bd4877e.dad5e8","type":"function","z":"63a109cf.1ac7f8","name":"Preparar para Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":414,"y":333,"wires":[["902987bd.e3ad78"]]},{"id":"5b3e1e84.01bb2","type":"function","z":"63a109cf.1ac7f8","name":"Preparar para Telegram","func":"msg.payload = {\n chatId : msg.chatId,\n type : \"message\",\n content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":705,"y":683,"wires":[["c0fb86c.7eae978"]]},{"id":"902987bd.e3ad78","type":"watson-conversation-v1","z":"63a109cf.1ac7f8","name":"","workspaceid":"a80fedad-d8c3-425c-890e-6628ff4d9563","multiuser":false,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":508,"y":511,"wires":[["5b3e1e84.01bb2","12d47a41.0c7be6","64fb647c.c519ec","d7c914cb.d34ed8"]]},{"id":"12d47a41.0c7be6","type":"debug","z":"63a109cf.1ac7f8","name":"","active":true,"console":"false","complete":"false","x":794,"y":508,"wires":[]},{"id":"64fb647c.c519ec","type":"function","z":"63a109cf.1ac7f8","name":"","func":"var nvectores = msg.payload.context.numero_vectores ;\nvar mvector = msg.payload.context.modulo_vector;\nvar angulo = msg.payload.context.angulo_levantamiento;\nvar radianes = (msg.payload.context.angulo_levantamiento * 3.14159)/ 180;\n\nvar caras = nvectores * (nvectores - 1);\nvar arista = 2*nvectores * (nvectores - 1);\nvar vertices = nvectores * (nvectores - 1) + 2;\nvar altura = mvector * nvectores * Math.sin(radianes);\nvar anchura = (2 * mvector * Math.cos(radianes)) / Math.sin(3.14159 / nvectores);\n\nmsg.payload = {\"Caras\": caras, \"Aristas\": arista,\" Vertices\":vertices, \"Altura\": altura, \"Anchura\": anchura};\n\nif(msg.payload.Caras > 0){\n msg.params = {\n context: {}\n };\n}\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":745,"y":396,"wires":[["b2348dc9.369b3","a1144333.c9822"]]},{"id":"b2348dc9.369b3","type":"debug","z":"63a109cf.1ac7f8","name":"","active":true,"console":"false","complete":"false","x":929,"y":417,"wires":[]},{"id":"a1144333.c9822","type":"function","z":"63a109cf.1ac7f8","name":"","func":"if(msg.payload.Anchura > 0){\nconsole.log(msg);\nvar chat = msg.chat();\nmsg.payload = \"Caras: \" + msg.payload.Caras + \" Aristas: \" + msg.payload.Arista + \" Vértices: \" + msg.payload[\" Vertices\"] + \" Altura: \" + msg.payload.Altura + \" Anchura: \" + msg.payload.Anchura;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":903,"y":273,"wires":[["6e1b7702.42af18"]]},{"id":"7980a261.4c72ec","type":"link in","z":"63a109cf.1ac7f8","name":"","links":["cb886a0b.3ffdf8"],"x":342,"y":512,"wires":[["902987bd.e3ad78"]]},{"id":"cb886a0b.3ffdf8","type":"link out","z":"63a109cf.1ac7f8","name":"","links":["7980a261.4c72ec"],"x":1187,"y":272,"wires":[]},{"id":"458363e0.f9669c","type":"link in","z":"63a109cf.1ac7f8","name":"","links":[],"x":778,"y":274,"wires":[["a1144333.c9822"]]},{"id":"d7c914cb.d34ed8","type":"link out","z":"63a109cf.1ac7f8","name":"","links":[],"x":669,"y":510,"wires":[]},{"id":"d6afdedc.54d69","type":"function","z":"bfc44558.7c1f68","name":"Preparar para Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;","outputs":1,"noerr":0,"x":289,"y":285,"wires":[["dbf9a03a.f0609"]]},{"id":"9b6a743c.f0be48","type":"function","z":"bfc44558.7c1f68","name":"Preparar para Telegram","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":264,"y":601,"wires":[[]]},{"id":"dbf9a03a.f0609","type":"watson-conversation-v1","z":"bfc44558.7c1f68","name":"","workspaceid":"58da1399-266e-48bf-9b44-ce276a9e221f","multiuser":true,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":186,"y":460,"wires":[["a657e449.258898","27a16077.95bfe","9b6a743c.f0be48","376553ed.b9160c"]]},{"id":"376553ed.b9160c","type":"function","z":"bfc44558.7c1f68","name":"Funcion Organizar","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 4;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = 250 / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_bases\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro};\n \n\n return msg;","outputs":1,"noerr":0,"x":659,"y":575,"wires":[["a657e449.258898"]]},{"id":"a657e449.258898","type":"debug","z":"bfc44558.7c1f68","name":"","active":true,"console":"false","complete":"payload","x":858,"y":471,"wires":[]},{"id":"27a16077.95bfe","type":"switch","z":"bfc44558.7c1f68","name":"","property":"payload.context.apuntar_asignatura","propertyType":"msg","rules":[{"t":"eq","v":"MATEMATICAS, LENGUA CASTELLANA Y LITERATURA, FISICA Y QUIMICA, GRIEGO, LATIN, MATEMATICAS APLICADAS A LAS CIENCIAS SOCIALES, LITERATURA UNIVERSAL, FILOSOFIA, GEOGRAFIA, ECONOMIA DE LA EMPRESA,BIOLOGIA Y GEOLOGIA, GEOLOGIA, QUIMICA, HISTORIA DEL ARTE, HISTORIA DE LA FILOSOFIA, INGLES, DIBUJO TECNICO, FISICA,HISTORIA DE ESPAÑA, ECONOMIA, HISTORIA DEL MUNDO CONTEMPORANEO      ","vt":"str"},{"t":"eq","v":"TECNOLOGIA INDUSTRIAL, FRANCES","vt":"str"},{"t":"eq","v":"DIBUJO ARTISTICO, EDUCACION FISICA, HISTORIA DE LA MUSICA Y DE LA DANZA, FUNDAMENTOS DE ADMINISTRACION Y GESTION, RELIGION, CULTURA CIENTIFICA, TECNOLOGIA DE LA INFORMACION Y COMUNICACION, PSICOLOGIA, CIENCIAS DE LA TIERRA Y MEDIOAMBIENTE, ANATOMIA APLICADA, LENGUAJE Y PRACTICA MUSICAL  ","vt":"str"}],"checkall":"true","outputs":3,"x":593,"y":331,"wires":[["5d9f4ec5.5559e"],["2dcb92bb.b2a0ee"],["1ea9c157.234c2f"]]},{"id":"5d9f4ec5.5559e","type":"dashDB in","z":"bfc44558.7c1f68","dashDB":"","service":"proyectoexcelencia_bd","query":"SELECT HORAS_SEMANALES FROM ASIGNATURA WHERE NOMBRE = 'MATEMATICAS';","params":"","name":"Matematicas","x":820,"y":149,"wires":[["56597893.d651d8"]]},{"id":"9ff55cb1.be117","type":"function","z":"bfc44558.7c1f68","name":"Goma de Borrar","func":"     msg.params = {\n         context: {}\n     };\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":102,"wires":[[]]},{"id":"2dcb92bb.b2a0ee","type":"dashDB in","z":"bfc44558.7c1f68","dashDB":"","service":"proyectoexcelencia_bd","query":"SELECT HORAS_SEMANALES FROM ASIGNATURA WHERE NOMBRE = 'TECNOLOGIA INDUSTRIAL';","params":"","name":"TIN","x":803,"y":261,"wires":[["42c575ce.87b27c"]]},{"id":"56597893.d651d8","type":"function","z":"bfc44558.7c1f68","name":"4 horas","func":"var Horas_por_semana = 4;\n\nreturn msg;","outputs":1,"noerr":0,"x":1016,"y":149,"wires":[["8b0fb236.411d"]]},{"id":"8b0fb236.411d","type":"debug","z":"bfc44558.7c1f68","name":"","active":true,"console":"false","complete":"false","x":1215,"y":149,"wires":[]},{"id":"42c575ce.87b27c","type":"function","z":"bfc44558.7c1f68","name":"3 horas","func":"var Horas_por_semana = 3;\n\nreturn msg;","outputs":1,"noerr":0,"x":1013,"y":261,"wires":[["86ca655f.ffa618"]]},{"id":"86ca655f.ffa618","type":"debug","z":"bfc44558.7c1f68","name":"","active":true,"console":"false","complete":"false","x":1216,"y":261,"wires":[]},{"id":"c0a796ff.710ac8","type":"debug","z":"bfc44558.7c1f68","name":"","active":true,"console":"false","complete":"false","x":1222,"y":373,"wires":[]},{"id":"8c8544a7.a76f08","type":"function","z":"bfc44558.7c1f68","name":"2 horas","func":"var Horas_por_semana = 2;\n\nreturn msg;","outputs":1,"noerr":0,"x":1012,"y":372,"wires":[["c0a796ff.710ac8"]]},{"id":"1ea9c157.234c2f","type":"dashDB in","z":"bfc44558.7c1f68","dashDB":"","service":"proyectoexcelencia_bd","query":"SELECT HORAS_SEMANALES FROM ASIGNATURA WHERE NOMBRE = 'EDUCACION FISICA';","params":"","name":"Educacion Fisica","x":841,"y":373,"wires":[["8c8544a7.a76f08"]]},{"id":"3cf67223.4507de","type":"function","z":"9b6b5da4.a778b","name":"Preparar para Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":261,"wires":[["3bf8677.f524998"]]},{"id":"88ec8631.2298b8","type":"function","z":"9b6b5da4.a778b","name":"Preparar para Telegram","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":247,"y":568,"wires":[[]]},{"id":"3bf8677.f524998","type":"watson-conversation-v1","z":"9b6b5da4.a778b","name":"","workspaceid":"58da1399-266e-48bf-9b44-ce276a9e221f","multiuser":true,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":169,"y":427,"wires":[["75bb900d.54f7a","88ec8631.2298b8","f66f4b38.6ddbd8"]]},{"id":"75bb900d.54f7a","type":"switch","z":"9b6b5da4.a778b","name":"Mega Switch","property":"payload.context.apuntar_asignatura","propertyType":"msg","rules":[{"t":"eq","v":"MATEMATICAS","vt":"str"},{"t":"eq","v":"LENGUA CASTELLANA Y LITERATURA","vt":"str"},{"t":"eq","v":"FISICA Y QUIMICA","vt":"str"},{"t":"eq","v":"GRIEGO","vt":"str"},{"t":"eq","v":"LATIN","vt":"str"},{"t":"eq","v":"MATEMATICAS APLICADAS A LAS CIENCIAS SOCIALES","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"GEOGRAFIA","vt":"str"},{"t":"eq","v":"ECONOMIA DE LA EMPRESA,BIOLOGIA Y GEOLOGIA","vt":"str"},{"t":"eq","v":"GEOLOGIA","vt":"str"},{"t":"eq","v":"QUIMICA","vt":"str"},{"t":"eq","v":"HISTORIA DEL ARTE","vt":"str"},{"t":"eq","v":"HISTORIA DE LA FILOSOFIA","vt":"str"},{"t":"eq","v":"INGLES","vt":"str"},{"t":"eq","v":"DIBUJO TECNICO","vt":"str"},{"t":"eq","v":"FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE ESPAÑA","vt":"str"},{"t":"eq","v":"ECONOMIA","vt":"str"},{"t":"eq","v":"HISTORIA DEL MUNDO CONTEMPORANEO","vt":"str"},{"t":"eq","v":"TECNOLOGIA INDUSTRIAL","vt":"str"},{"t":"eq","v":"FRANCES","vt":"str"},{"t":"eq","v":"DIBUJO ARTISTICO","vt":"str"},{"t":"eq","v":"EDUCACION FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE LA MUSICA Y DE LA DANZA","vt":"str"},{"t":"eq","v":"FUNDAMENTOS DE ADMINISTRACION Y GESTION","vt":"str"},{"t":"eq","v":"RELIGION","vt":"str"},{"t":"eq","v":"CULTURA CIENTIFICA","vt":"str"},{"t":"eq","v":"TECNOLOGIA DE LA INFORMACION Y COMUNICACION","vt":"str"},{"t":"eq","v":"PSICOLOGIA","vt":"str"},{"t":"eq","v":"CIENCIAS DE LA TIERRA Y MEDIOAMBIENTE","vt":"str"},{"t":"eq","v":"ANATOMIA APLICADA","vt":"str"},{"t":"eq","v":"LENGUAJE Y PRACTICA MUSICAL","vt":"str"}],"checkall":"true","outputs":33,"x":624,"y":318,"wires":[["c530f71f.db1c48"],["c530f71f.db1c48"],["c530f71f.db1c48"],["c530f71f.db1c48"],["c530f71f.db1c48"],["c530f71f.db1c48"],["c530f71f.db1c48"],["c530f71f.db1c48"],["c530f71f.db1c48"],["c530f71f.db1c48"],["c530f71f.db1c48"],["c530f71f.db1c48"],["c530f71f.db1c48"],["c530f71f.db1c48"],["c530f71f.db1c48"],["c530f71f.db1c48"],["c530f71f.db1c48"],["c530f71f.db1c48"],["c530f71f.db1c48"],["c530f71f.db1c48"],["f9e55e37.1905f"],["f9e55e37.1905f"],["b0f9cc06.dc96f"],["b0f9cc06.dc96f"],["b0f9cc06.dc96f"],["b0f9cc06.dc96f"],["b0f9cc06.dc96f"],["b0f9cc06.dc96f"],["b0f9cc06.dc96f"],["b0f9cc06.dc96f"],["b0f9cc06.dc96f"],["b0f9cc06.dc96f"],["b0f9cc06.dc96f"]]},{"id":"d00f9370.deed8","type":"function","z":"9b6b5da4.a778b","name":"Goma de Borrar","func":"     msg.params = {\n         context: {}\n     };\nreturn msg;","outputs":1,"noerr":0,"x":231,"y":689,"wires":[[]]},{"id":"fde8d87.7987428","type":"debug","z":"9b6b5da4.a778b","name":"","active":true,"console":"false","complete":"payload","x":1256,"y":157,"wires":[]},{"id":"674b9166.d337e","type":"debug","z":"9b6b5da4.a778b","name":"","active":true,"console":"false","complete":"false","x":1267,"y":382,"wires":[]},{"id":"47cd6fd4.256f4","type":"debug","z":"9b6b5da4.a778b","name":"","active":true,"console":"false","complete":"false","x":1290,"y":538,"wires":[]},{"id":"f9e55e37.1905f","type":"function","z":"9b6b5da4.a778b","name":"Organizar 3 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 3;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro};\n \n\n return msg;","outputs":1,"noerr":0,"x":1056,"y":379,"wires":[["674b9166.d337e"]]},{"id":"b0f9cc06.dc96f","type":"function","z":"9b6b5da4.a778b","name":"Organizar 2 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 2;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro};\n \n\n return msg;","outputs":1,"noerr":0,"x":1037,"y":532,"wires":[["47cd6fd4.256f4"]]},{"id":"c530f71f.db1c48","type":"function","z":"9b6b5da4.a778b","name":"Organizar 4 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Facil\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Normal\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  \n var Semanas = msg.payload.context.number;\n var Constante = 0.4;\n var Horas_por_semana = 4;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro};\n \n\n return msg;","outputs":1,"noerr":0,"x":1020,"y":155,"wires":[["fde8d87.7987428"]]},{"id":"f66f4b38.6ddbd8","type":"debug","z":"9b6b5da4.a778b","name":"","active":true,"console":"false","complete":"false","x":414,"y":492,"wires":[]},{"id":"f460d3.0c3a8f3","type":"debug","z":"81aa7bd3.be8718","name":"","active":true,"console":"false","complete":"false","x":573.3333333333334,"y":374.44444444444446,"wires":[]},{"id":"f5c53cb9.4988c","type":"switch","z":"924fdba7.c4daf8","name":"","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"saludo","vt":"str"}],"checkall":"true","outputs":1,"x":410,"y":460,"wires":[["5e753154.5f57d"]]},{"id":"67ea3630.fe9b68","type":"switch","z":"81aa7bd3.be8718","name":"","property":"payload.context.organizar_interes","propertyType":"msg","rules":[],"checkall":"true","outputs":0,"x":500,"y":510,"wires":[]},{"id":"f3d0a92f.f691f8","type":"function","z":"81aa7bd3.be8718","name":"","func":"if(msg.payload.context.number > 0)\n\nreturn msg;","outputs":1,"noerr":0,"x":459,"y":660,"wires":[["cdd897a7.89c8d8"]]},{"id":"84bc904.2b12c7","type":"switch","z":"81aa7bd3.be8718","name":"","property":"payload.context.organizar_interes","propertyType":"msg","rules":[{"t":"eq","v":"Poco","vt":"str"},{"t":"eq","v":"Normal","vt":"str"},{"t":"eq","v":"Mucho","vt":"str"}],"checkall":"false","outputs":3,"x":1067,"y":246,"wires":[["f6bc42b2.a7551"],["f6bc42b2.a7551"],["f6bc42b2.a7551"]]},{"id":"cd20861d.db0b68","type":"function","z":"81aa7bd3.be8718","name":"","func":"if (msg.payload.context.number > 0){\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":862,"y":257,"wires":[[]]},{"id":"91e3f183.5245b","type":"switch","z":"81aa7bd3.be8718","name":"","property":"payload.entities[0].entity","propertyType":"msg","rules":[{"t":"eq","v":"sys-number","vt":"str"}],"checkall":"true","outputs":1,"x":990,"y":534,"wires":[["27ceff45.8a0c6"]]},{"id":"4c50dc31.c5c954","type":"switch","z":"81aa7bd3.be8718","name":"","property":"payload.entities[0].entity","propertyType":"msg","rules":[{"t":"eq","v":"organizar_dificultad","vt":"str"}],"checkall":"true","outputs":1,"x":992,"y":655,"wires":[["754c8c63.1e6b64"]]},{"id":"e79d8e54.84a63","type":"function","z":"4ed8e6d0.910e18","name":"Preparar para Conversation","func":"msg.user = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":176.8958282470703,"y":178.8888988494873,"wires":[["e7919939.bf5078"]]},{"id":"94b68f3a.31614","type":"function","z":"4ed8e6d0.910e18","name":"Preparar para Telegram","func":"msg.payload = {\n  chatId : msg.user,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":127.89582824707031,"y":704.8889026641846,"wires":[["1ea0cd68.9ff653"]]},{"id":"fd0c2a98.f62be8","type":"watson-conversation-v1","z":"4ed8e6d0.910e18","name":"","workspaceid":"72ec0d9f-6e05-4f6c-9a9d-a045081be799","multiuser":true,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":121.89582824707031,"y":540.8888721466064,"wires":[["42cbb64b.2490f8","7cdf1d14.9f22d4","94b68f3a.31614","c6d5b4b0.508b98","662120ca.1ed18","fcc31b89.ac2aa8","55ab8851.5ba548","a1ba77d.66a6288"]],"inputLabels":["msg.user"]},{"id":"42cbb64b.2490f8","type":"switch","z":"4ed8e6d0.910e18","name":"Mega Switch","property":"payload.context.apuntar_asignatura","propertyType":"msg","rules":[{"t":"eq","v":"MATEMATICAS","vt":"str"},{"t":"eq","v":"LENGUA CASTELLANA Y LITERATURA","vt":"str"},{"t":"eq","v":"FISICA Y QUIMICA","vt":"str"},{"t":"eq","v":"GRIEGO","vt":"str"},{"t":"eq","v":"LATIN","vt":"str"},{"t":"eq","v":"MATEMATICAS APLICADAS A LAS CIENCIAS SOCIALES","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"GEOGRAFIA","vt":"str"},{"t":"eq","v":"ECONOMIA DE LA EMPRESA,BIOLOGIA Y GEOLOGIA","vt":"str"},{"t":"eq","v":"GEOLOGIA","vt":"str"},{"t":"eq","v":"QUIMICA","vt":"str"},{"t":"eq","v":"HISTORIA DEL ARTE","vt":"str"},{"t":"eq","v":"HISTORIA DE LA FILOSOFIA","vt":"str"},{"t":"eq","v":"INGLES","vt":"str"},{"t":"eq","v":"DIBUJO TECNICO","vt":"str"},{"t":"eq","v":"FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE ESPAÑA","vt":"str"},{"t":"eq","v":"ECONOMIA","vt":"str"},{"t":"eq","v":"HISTORIA DEL MUNDO CONTEMPORANEO","vt":"str"},{"t":"eq","v":"TECNOLOGIA INDUSTRIAL","vt":"str"},{"t":"eq","v":"FRANCES","vt":"str"},{"t":"eq","v":"DIBUJO ARTISTICO","vt":"str"},{"t":"eq","v":"EDUCACION FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE LA MUSICA Y DE LA DANZA","vt":"str"},{"t":"eq","v":"FUNDAMENTOS DE ADMINISTRACION Y GESTION","vt":"str"},{"t":"eq","v":"RELIGION","vt":"str"},{"t":"eq","v":"CULTURA CIENTIFICA","vt":"str"},{"t":"eq","v":"TECNOLOGIA DE LA INFORMACION Y COMUNICACION","vt":"str"},{"t":"eq","v":"PSICOLOGIA","vt":"str"},{"t":"eq","v":"CIENCIAS DE LA TIERRA Y MEDIOAMBIENTE","vt":"str"},{"t":"eq","v":"ANATOMIA APLICADA","vt":"str"},{"t":"eq","v":"LENGUAJE Y PRACTICA MUSICAL","vt":"str"}],"checkall":"true","outputs":33,"x":903.8959426879883,"y":498.4444885253906,"wires":[["f94c4968.483ca8"],["f94c4968.483ca8"],["f94c4968.483ca8"],["f94c4968.483ca8"],["f94c4968.483ca8"],["f94c4968.483ca8"],["f94c4968.483ca8"],["f94c4968.483ca8"],["f94c4968.483ca8"],["f94c4968.483ca8"],["f94c4968.483ca8"],["f94c4968.483ca8"],["f94c4968.483ca8"],["f94c4968.483ca8"],["f94c4968.483ca8"],["f94c4968.483ca8"],["f94c4968.483ca8"],["f94c4968.483ca8"],["f94c4968.483ca8"],["f94c4968.483ca8"],["45eea156.535a6"],["45eea156.535a6"],["f37b3eb1.82d4a"],["f37b3eb1.82d4a"],["f37b3eb1.82d4a"],["f37b3eb1.82d4a"],["f37b3eb1.82d4a"],["f37b3eb1.82d4a"],["f37b3eb1.82d4a"],["f37b3eb1.82d4a"],["f37b3eb1.82d4a"],["f37b3eb1.82d4a"],["f37b3eb1.82d4a"]]},{"id":"7bf5b871.497098","type":"function","z":"4ed8e6d0.910e18","name":"Goma de Borrar","func":"     msg.params = {\n         context: {}\n     };\nreturn msg;","outputs":1,"noerr":0,"x":637.8958892822266,"y":40.88890075683594,"wires":[[]]},{"id":"9f925737.8be1b8","type":"debug","z":"4ed8e6d0.910e18","name":"","active":true,"console":"false","complete":"payload","x":1483.8957138061523,"y":375.88889026641846,"wires":[]},{"id":"929e9123.ba8c8","type":"debug","z":"4ed8e6d0.910e18","name":"","active":true,"console":"false","complete":"false","x":1482.895767211914,"y":502.88891077041626,"wires":[]},{"id":"274d6d8e.6971f2","type":"debug","z":"4ed8e6d0.910e18","name":"","active":true,"console":"false","complete":"false","x":1476.8957138061523,"y":655.888897895813,"wires":[]},{"id":"45eea156.535a6","type":"function","z":"4ed8e6d0.910e18","name":"Organizar 3 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Sencilla\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Intermedia\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n   if (msg.payload.context.negacion == \"No\"){\n     var Negacion = 1;\n }\n \n var Semanas = msg.payload.context.number;\n var Constante = 0.8;\n var Horas_por_semana = 3;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro, \"Negacion\":Negacion};\n \n\n return msg;","outputs":1,"noerr":0,"x":1170.8957061767578,"y":504.8889217376709,"wires":[["929e9123.ba8c8","b1695ae4.429028"]]},{"id":"f37b3eb1.82d4a","type":"function","z":"4ed8e6d0.910e18","name":"Organizar 2 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Sencilla\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Intermedia\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  if (msg.payload.context.negacion == \"No\"){\n     var Negacion = 1;\n }\n \n var Semanas = msg.payload.context.number;\n var Constante = 0.8;\n var Horas_por_semana = 2;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro, \"Negacion\":Negacion};\n \n\n return msg;","outputs":1,"noerr":0,"x":1127.8958129882812,"y":652.8889389038086,"wires":[["274d6d8e.6971f2","b1695ae4.429028"]]},{"id":"f94c4968.483ca8","type":"function","z":"4ed8e6d0.910e18","name":"Organizar 4 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Sencilla\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Intermedia\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n if (msg.payload.context.negacion == \"No\"){\n     var Negacion = 1;\n }\n      \n var Semanas = msg.payload.context.number;\n var Constante = 0.8;\n var Horas_por_semana = 4;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro, \"Negacion\":Negacion};\n \n \nreturn msg;","outputs":1,"noerr":0,"x":1168.895767211914,"y":430.8888874053955,"wires":[["9f925737.8be1b8","b1695ae4.429028"]]},{"id":"7cdf1d14.9f22d4","type":"debug","z":"4ed8e6d0.910e18","name":"","active":true,"console":"false","complete":"payload","x":470.8958053588867,"y":387.8888931274414,"wires":[]},{"id":"e7919939.bf5078","type":"function","z":"4ed8e6d0.910e18","name":"Borrar al finalizar","func":"if (msg.payload.Horas_estudio > 0){\n   msg.params = {\n         context: {}\n     };\n    \n}\nif (msg.payload.Horas_libro > 0){\n    msg.params = {\n         context: {}\n     };\n}\nif (msg.payload.Negacion > 0){\n    msg.params = {\n         context: {}\n     };\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":209.89581298828125,"y":380.88891410827637,"wires":[["fd0c2a98.f62be8"]]},{"id":"b23e2690.ce2f28","type":"link in","z":"4ed8e6d0.910e18","name":"","links":["b1695ae4.429028"],"x":34.89581489562988,"y":383.88890647888184,"wires":[["e7919939.bf5078","26198429.9ed94c"]]},{"id":"b1695ae4.429028","type":"link out","z":"4ed8e6d0.910e18","name":"","links":["b23e2690.ce2f28"],"x":1372.8957691192627,"y":504.8889694213867,"wires":[]},{"id":"c6d5b4b0.508b98","type":"function","z":"4ed8e6d0.910e18","name":"Introducir datos en BD","func":"msg.payload =\n\n{\nFECHA:msg.payload.context.date,\n\nTIPO_ACTIVIDAD:\tmsg.payload.context.apuntar_tipo,\n\nASIGNATURA: msg.payload.context.apuntar_asignatura,\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":663.8958053588867,"y":898.8888854980469,"wires":[["1b4a9d68.eac153","1d37f615.4a7fea"]]},{"id":"1d37f615.4a7fea","type":"debug","z":"4ed8e6d0.910e18","name":"","active":true,"console":"false","complete":"false","x":1041.895809173584,"y":829.8889074325562,"wires":[]},{"id":"1b4a9d68.eac153","type":"dashDB out","z":"4ed8e6d0.910e18","dashDB":"","service":"proyectoexcelencia_bd","table":"PRUEBASNODERED","name":"Tabla PRUEBASNODERED","x":1043.8958282470703,"y":913.8889293670654,"wires":[]},{"id":"26198429.9ed94c","type":"function","z":"4ed8e6d0.910e18","name":"Mensaje FINAL","func":"if (msg.payload.Horas_libro > 0){\nconsole.log(msg);\nvar chat = msg.chat();\nmsg.payload = \"Vas a tardar \" + Math.round(msg.payload.Horas_libro) +\" horas en leerte el libro.\";\n}\n\nif (msg.payload.Horas_estudio > 0){\nconsole.log(msg);\nvar chat = msg.chat();\nmsg.payload = \"Vas a tardar \" + Math.round(msg.payload.Horas_estudio) +\" horas en prepararte este examen.\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":819.8958129882812,"y":81.88889503479004,"wires":[["9267c8d4.a232b8","60784eb3.7bff5"]]},{"id":"60784eb3.7bff5","type":"debug","z":"4ed8e6d0.910e18","name":"","active":true,"console":"false","complete":"payload","x":1424.8957061767578,"y":74.88889026641846,"wires":[]},{"id":"662120ca.1ed18","type":"switch","z":"4ed8e6d0.910e18","name":"","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"saludo","vt":"str"}],"checkall":"true","outputs":1,"x":517.8958015441895,"y":695.8888969421387,"wires":[["a0cd20cd.2b8ed"]]},{"id":"55ab8851.5ba548","type":"switch","z":"4ed8e6d0.910e18","name":"","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"afirmacion","vt":"str"}],"checkall":"false","outputs":1,"x":441.8958053588867,"y":249.88893127441406,"wires":[["d7aa3d10.85389"]]},{"id":"fcc31b89.ac2aa8","type":"switch","z":"4ed8e6d0.910e18","name":"","property":"payload.entities[0].entity","propertyType":"msg","rules":[{"t":"eq","v":"organizar_interes","vt":"str"}],"checkall":"true","outputs":1,"x":460.7916374206543,"y":152.77779579162598,"wires":[["e8007ed2.aae75"]]},{"id":"a1ba77d.66a6288","type":"switch","z":"4ed8e6d0.910e18","name":"","property":"payload.entities[0].entity","propertyType":"msg","rules":[{"t":"eq","v":"organizar_dificultad","vt":"str"}],"checkall":"true","outputs":1,"x":506.89581298828125,"y":315.8888854980469,"wires":[["57b358ed.abd748"]]},{"id":"eab3b7bd.5a1358","type":"function","z":"5cd8255f.7fda1c","name":"Preparar para Conversation","func":"msg.user = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":188.1458282470703,"y":148.8889036178589,"wires":[["3e09e2af.f5f43e"]]},{"id":"f06543dd.96143","type":"function","z":"5cd8255f.7fda1c","name":"Preparar para Telegram","func":"msg.payload = {\n  chatId : msg.user,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":309.14583587646484,"y":869.8889284133911,"wires":[["deb1ca3d.2701c8"]]},{"id":"c0414aaf.800298","type":"watson-conversation-v1","z":"5cd8255f.7fda1c","name":"","workspaceid":"72ec0d9f-6e05-4f6c-9a9d-a045081be799","multiuser":true,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":121.89582824707031,"y":540.8888721466064,"wires":[["cd12a008.f1d3c","6060944a.d8e04c","f06543dd.96143","fb438e88.055b1","fa480724.85e0b8","318f4219.6a63fe","c79ccb25.498f58","47524042.e518"]],"inputLabels":["msg.user"]},{"id":"cd12a008.f1d3c","type":"switch","z":"5cd8255f.7fda1c","name":"Mega Switch","property":"payload.context.apuntar_asignatura","propertyType":"msg","rules":[{"t":"eq","v":"MATEMATICAS","vt":"str"},{"t":"eq","v":"LENGUA CASTELLANA Y LITERATURA","vt":"str"},{"t":"eq","v":"FISICA Y QUIMICA","vt":"str"},{"t":"eq","v":"GRIEGO","vt":"str"},{"t":"eq","v":"LATIN","vt":"str"},{"t":"eq","v":"MATEMATICAS APLICADAS A LAS CIENCIAS SOCIALES","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"GEOGRAFIA","vt":"str"},{"t":"eq","v":"ECONOMIA DE LA EMPRESA,BIOLOGIA Y GEOLOGIA","vt":"str"},{"t":"eq","v":"GEOLOGIA","vt":"str"},{"t":"eq","v":"QUIMICA","vt":"str"},{"t":"eq","v":"HISTORIA DEL ARTE","vt":"str"},{"t":"eq","v":"HISTORIA DE LA FILOSOFIA","vt":"str"},{"t":"eq","v":"INGLES","vt":"str"},{"t":"eq","v":"DIBUJO TECNICO","vt":"str"},{"t":"eq","v":"FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE ESPAÑA","vt":"str"},{"t":"eq","v":"ECONOMIA","vt":"str"},{"t":"eq","v":"HISTORIA DEL MUNDO CONTEMPORANEO","vt":"str"},{"t":"eq","v":"TECNOLOGIA INDUSTRIAL","vt":"str"},{"t":"eq","v":"FRANCES","vt":"str"},{"t":"eq","v":"DIBUJO ARTISTICO","vt":"str"},{"t":"eq","v":"EDUCACION FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE LA MUSICA Y DE LA DANZA","vt":"str"},{"t":"eq","v":"FUNDAMENTOS DE ADMINISTRACION Y GESTION","vt":"str"},{"t":"eq","v":"RELIGION","vt":"str"},{"t":"eq","v":"CULTURA CIENTIFICA","vt":"str"},{"t":"eq","v":"TECNOLOGIA DE LA INFORMACION Y COMUNICACION","vt":"str"},{"t":"eq","v":"PSICOLOGIA","vt":"str"},{"t":"eq","v":"CIENCIAS DE LA TIERRA Y MEDIOAMBIENTE","vt":"str"},{"t":"eq","v":"ANATOMIA APLICADA","vt":"str"},{"t":"eq","v":"LENGUAJE Y PRACTICA MUSICAL","vt":"str"}],"checkall":"true","outputs":33,"x":1021.3958892822266,"y":677.888916015625,"wires":[["87eafaeb.aa22e8"],["87eafaeb.aa22e8"],["87eafaeb.aa22e8"],["87eafaeb.aa22e8"],["87eafaeb.aa22e8"],["87eafaeb.aa22e8"],["87eafaeb.aa22e8"],["87eafaeb.aa22e8"],["87eafaeb.aa22e8"],["87eafaeb.aa22e8"],["87eafaeb.aa22e8"],["87eafaeb.aa22e8"],["87eafaeb.aa22e8"],["87eafaeb.aa22e8"],["87eafaeb.aa22e8"],["87eafaeb.aa22e8"],["87eafaeb.aa22e8"],["87eafaeb.aa22e8"],["87eafaeb.aa22e8"],["87eafaeb.aa22e8"],["f07ea83e.959cb8"],["f07ea83e.959cb8"],["ee341d54.3ee9e"],["ee341d54.3ee9e"],["ee341d54.3ee9e"],["ee341d54.3ee9e"],["ee341d54.3ee9e"],["ee341d54.3ee9e"],["ee341d54.3ee9e"],["ee341d54.3ee9e"],["ee341d54.3ee9e"],["ee341d54.3ee9e"],["ee341d54.3ee9e"]]},{"id":"1eecd0b3.47f71f","type":"function","z":"5cd8255f.7fda1c","name":"Goma de Borrar","func":"     msg.params = {\n         context: {}\n     };\nreturn msg;","outputs":1,"noerr":0,"x":1606.645881652832,"y":54.638901233673096,"wires":[[]]},{"id":"a05d1072.26661","type":"debug","z":"5cd8255f.7fda1c","name":"","active":true,"console":"false","complete":"payload","x":1650.1457748413086,"y":608.3888931274414,"wires":[]},{"id":"6a0219ba.650bb8","type":"debug","z":"5cd8255f.7fda1c","name":"","active":true,"console":"false","complete":"false","x":1646.6457748413086,"y":734.1389255523682,"wires":[]},{"id":"371616a0.8ffb4a","type":"debug","z":"5cd8255f.7fda1c","name":"","active":true,"console":"false","complete":"false","x":1645.6457748413086,"y":843.3889265060425,"wires":[]},{"id":"f07ea83e.959cb8","type":"function","z":"5cd8255f.7fda1c","name":"Organizar 3 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Sencilla\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Intermedia\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n   if (msg.payload.context.negacion == \"No\"){\n     var Negacion = 1;\n }\n \n var Semanas = msg.payload.context.number;\n var Constante = 0.8;\n var Horas_por_semana = 3;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro, \"Negacion\":Negacion};\n \n\n return msg;","outputs":1,"noerr":0,"x":1335.8957710266113,"y":733.6389245986938,"wires":[["6a0219ba.650bb8","e8de16ff.f536e8"]]},{"id":"ee341d54.3ee9e","type":"function","z":"5cd8255f.7fda1c","name":"Organizar 2 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Sencilla\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Intermedia\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  if (msg.payload.context.negacion == \"No\"){\n     var Negacion = 1;\n }\n \n var Semanas = msg.payload.context.number;\n var Constante = 0.8;\n var Horas_por_semana = 2;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro, \"Negacion\":Negacion};\n \n\n return msg;","outputs":1,"noerr":0,"x":1336.6457748413086,"y":845.3889265060425,"wires":[["371616a0.8ffb4a","e8de16ff.f536e8"]]},{"id":"87eafaeb.aa22e8","type":"function","z":"5cd8255f.7fda1c","name":"Organizar 4 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Sencilla\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Intermedia\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n if (msg.payload.context.negacion == \"No\"){\n     var Negacion = 1;\n }\n      \n var Semanas = msg.payload.context.number;\n var Constante = 0.8;\n var Horas_por_semana = 4;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro, \"Negacion\":Negacion};\n \n \nreturn msg;","outputs":1,"noerr":0,"x":1335.1457710266113,"y":609.6388931274414,"wires":[["a05d1072.26661","e8de16ff.f536e8"]]},{"id":"6060944a.d8e04c","type":"debug","z":"5cd8255f.7fda1c","name":"","active":true,"console":"false","complete":"payload","x":522.1458206176758,"y":679.1389255523682,"wires":[]},{"id":"3e09e2af.f5f43e","type":"function","z":"5cd8255f.7fda1c","name":"Borrar al finalizar","func":"if (msg.payload.Horas_estudio > 0){\n   msg.params = {\n         context: {}\n     };\n    \n}\nif (msg.payload.Horas_libro > 0){\n    msg.params = {\n         context: {}\n     };\n}\nif (msg.payload.Negacion > 0){\n    msg.params = {\n         context: {}\n     };\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":221.14581298828125,"y":332.1389207839966,"wires":[["c0414aaf.800298"]]},{"id":"aa853b6b.c56708","type":"link in","z":"5cd8255f.7fda1c","name":"","links":["e8de16ff.f536e8"],"x":43.64581489562988,"y":332.6389207839966,"wires":[["3e09e2af.f5f43e","9f16328b.7c28e"]]},{"id":"e8de16ff.f536e8","type":"link out","z":"5cd8255f.7fda1c","name":"","links":["aa853b6b.c56708"],"x":1541.6457748413086,"y":733.6389856338501,"wires":[]},{"id":"fb438e88.055b1","type":"function","z":"5cd8255f.7fda1c","name":"Introducir datos en BD","func":"msg.payload =\n\n{\nFECHA:msg.payload.context.date,\n\nTIPO_ACTIVIDAD:\tmsg.payload.context.apuntar_tipo,\n\nASIGNATURA: msg.payload.context.apuntar_asignatura,\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":477.64581298828125,"y":527.6389236450195,"wires":[["a14a3d4d.8e986","3826c9c4.bb9916"]]},{"id":"3826c9c4.bb9916","type":"debug","z":"5cd8255f.7fda1c","name":"","active":true,"console":"false","complete":"false","x":733.1458206176758,"y":483.6389217376709,"wires":[]},{"id":"a14a3d4d.8e986","type":"dashDB out","z":"5cd8255f.7fda1c","dashDB":"","service":"proyectoexcelencia_bd","table":"PRUEBASNODERED","name":"Tabla PRUEBASNODERED","x":782.6458206176758,"y":557.6389236450195,"wires":[]},{"id":"9f16328b.7c28e","type":"function","z":"5cd8255f.7fda1c","name":"Mensaje FINAL","func":"if (msg.payload.Horas_libro > 0){\nconsole.log(msg);\nvar chat = msg.chat();\nmsg.payload = \"Vas a tardar \" + Math.round(msg.payload.Horas_libro) +\" horas en leerte el libro.\";\n}\n\nif (msg.payload.Horas_estudio > 0){\nconsole.log(msg);\nvar chat = msg.chat();\nmsg.payload = \"Vas a tardar \" + Math.round(msg.payload.Horas_estudio) +\" horas en prepararte este examen.\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":819.8958129882812,"y":81.88889503479004,"wires":[["2ba95f0a.4c51c","34844e97.237fc2"]]},{"id":"34844e97.237fc2","type":"debug","z":"5cd8255f.7fda1c","name":"","active":true,"console":"false","complete":"payload","x":1044.8957748413086,"y":81.13889122009277,"wires":[]},{"id":"fa480724.85e0b8","type":"switch","z":"5cd8255f.7fda1c","name":"","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"saludo","vt":"str"}],"checkall":"true","outputs":1,"x":400.3958206176758,"y":769.6389265060425,"wires":[["31cf89c4.5bf086"]]},{"id":"1fa69727.5e29a9","type":"switch","z":"5cd8255f.7fda1c","name":"","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"afirmacion","vt":"str"}],"checkall":"false","outputs":1,"x":610,"y":320,"wires":[["d811bf71.aa50b"]]},{"id":"47524042.e518","type":"switch","z":"5cd8255f.7fda1c","name":"","property":"payload.entities[0].entity","propertyType":"msg","rules":[{"t":"eq","v":"organizar_interes","vt":"str"}],"checkall":"true","outputs":1,"x":527.041633605957,"y":242.7778034210205,"wires":[["14cf7d02.a57e73"]]},{"id":"318f4219.6a63fe","type":"switch","z":"5cd8255f.7fda1c","name":"","property":"payload.entities[0].entity","propertyType":"msg","rules":[{"t":"eq","v":"organizar_dificultad","vt":"str"}],"checkall":"true","outputs":1,"x":523.1458206176758,"y":404.6388912200928,"wires":[["43d8e7d8.58a708"]]},{"id":"f78e7c34.93522","type":"link in","z":"5cd8255f.7fda1c","name":"","links":["fc90748.2967888","709e212f.f2b85","d260300a.03a82","5fdcbdaa.479ff4"],"x":422.5,"y":976.25,"wires":[["deb1ca3d.2701c8"]]},{"id":"709e212f.f2b85","type":"link out","z":"5cd8255f.7fda1c","name":"","links":["f78e7c34.93522"],"x":1132.5000171661377,"y":280.00000286102295,"wires":[]},{"id":"c79ccb25.498f58","type":"switch","z":"5cd8255f.7fda1c","name":"","property":"payload.context.apuntar_tipo","propertyType":"msg","rules":[{"t":"eq","v":"Examen","vt":"str"}],"checkall":"true","outputs":1,"x":490,"y":320,"wires":[["1fa69727.5e29a9"]]},{"id":"649f9a9b.599954","type":"chatbot-message","z":"924fdba7.c4daf8","name":"","message":[],"answer":false,"track":false,"x":876,"y":150,"wires":[["1b968e2c.e8c8c2"]]},{"id":"6e1b7702.42af18","type":"chatbot-message","z":"63a109cf.1ac7f8","name":"","message":[],"answer":false,"track":false,"x":1060,"y":272,"wires":[["c0fb86c.7eae978","cb886a0b.3ffdf8"]]},{"id":"a560055b.f98518","type":"chatbot-message","z":"81aa7bd3.be8718","name":"","message":[{"message":"Hola, {{firstName}} {{lastName}}"}],"answer":false,"track":false,"x":530,"y":220,"wires":[["f460d3.0c3a8f3"]]},{"id":"5e753154.5f57d","type":"chatbot-message","z":"924fdba7.c4daf8","name":"","message":[{"message":"Hola, {{firstName}} {{lastName}}"}],"answer":false,"track":false,"x":470,"y":600,"wires":[["1b968e2c.e8c8c2"]]},{"id":"9267c8d4.a232b8","type":"chatbot-message","z":"4ed8e6d0.910e18","name":"","message":[],"answer":false,"track":false,"x":1000.8958282470703,"y":127.8888988494873,"wires":[["1ea0cd68.9ff653"]]},{"id":"a0cd20cd.2b8ed","type":"chatbot-message","z":"4ed8e6d0.910e18","name":"","message":[{"message":"Hola, {{firstName}} {{lastName}}"}],"answer":false,"track":false,"x":637.8958320617676,"y":767.888916015625,"wires":[["1ea0cd68.9ff653"]]},{"id":"2ba95f0a.4c51c","type":"chatbot-message","z":"5cd8255f.7fda1c","name":"","message":[],"answer":false,"track":false,"x":978.3958282470703,"y":169.13890266418457,"wires":[["709e212f.f2b85"]]},{"id":"31cf89c4.5bf086","type":"chatbot-message","z":"5cd8255f.7fda1c","name":"","message":[{"message":"Hola, {{firstName}} {{lastName}}"}],"answer":false,"track":false,"x":599.1458206176758,"y":769.1389265060425,"wires":[["deb1ca3d.2701c8"]]},{"id":"cdd897a7.89c8d8","type":"chatbot-ask","z":"81aa7bd3.be8718","name":"","answers":[{"value":"Fácil","label":"Fácil"},{"value":"Normal","label":"Normal"},{"value":"Difícil","label":"Difícil"}],"message":"¿Cúanto te interesa el temario?","x":647,"y":658,"wires":[[]]},{"id":"f6bc42b2.a7551","type":"chatbot-ask","z":"81aa7bd3.be8718","name":"","answers":[{"value":"Fácil","label":"Fácil"},{"value":"Normal","label":"Normal"},{"value":"Difícil","label":"Difícil"}],"message":"¿Cúanto te interesa el temario?","x":1266,"y":248,"wires":[[]]},{"id":"27ceff45.8a0c6","type":"chatbot-ask","z":"81aa7bd3.be8718","name":"","answers":[{"value":"Poco","label":"Poco"},{"value":"Normal","label":"Normal"},{"value":"Mucho","label":"Mucho"}],"message":"¿Cuánto interés tienes en el temario del examen?","x":1182,"y":537,"wires":[[]]},{"id":"754c8c63.1e6b64","type":"chatbot-ask","z":"81aa7bd3.be8718","name":"","answers":[{"value":"1","label":"1"},{"value":"2","label":"2"},{"value":"3","label":"3"},{"value":"4","label":"4"},{"value":"5","label":"5"},{"value":"otro","label":"otro"}],"message":"jajaja","x":1184,"y":658,"wires":[[]]},{"id":"57b358ed.abd748","type":"chatbot-ask","z":"4ed8e6d0.910e18","name":"","answers":[{"value":"1","label":"1"},{"value":"2","label":"2"},{"value":"3","label":"3"},{"value":"4","label":"4"},{"value":"5","label":"5"},{"value":"6","label":"6"},{"value":"7","label":"7"},{"value":"8","label":"8"},{"value":"9","label":"9"},{"value":"10","label":"10"}],"message":"jajaja","x":698.8958129882812,"y":318.8888854980469,"wires":[["1ea0cd68.9ff653"]]},{"id":"d7aa3d10.85389","type":"chatbot-ask","z":"4ed8e6d0.910e18","name":"","answers":[{"value":"Poco ","label":"Poco "},{"value":"Normal","label":"Normal"},{"value":"Mucho ","label":"Mucho "}],"message":"👨🏼‍🏫","x":690.8958015441895,"y":256.8888750076294,"wires":[["1ea0cd68.9ff653"]]},{"id":"e8007ed2.aae75","type":"chatbot-ask","z":"4ed8e6d0.910e18","name":"","answers":[{"value":"Sencilla","label":"Sencilla"},{"value":"Intermedia","label":"Intermedia"},{"value":"Difícil","label":"Difícil"}],"message":"⁉️","x":728.6736831665039,"y":185.22222328186035,"wires":[["1ea0cd68.9ff653"]]},{"id":"43d8e7d8.58a708","type":"chatbot-ask","z":"5cd8255f.7fda1c","name":"Botones para semanas","answers":[{"value":"1","label":"1"},{"value":"2","label":"2"},{"value":"3","label":"3"},{"value":"4","label":"4"},{"value":"5","label":"5"},{"value":"6","label":"6"},{"value":"7","label":"7"},{"value":"8","label":"8"},{"value":"9","label":"9"},{"value":"10","label":"10"}],"message":":smile:","x":760.1458206176758,"y":405.1388912200928,"wires":[["709e212f.f2b85"]]},{"id":"d811bf71.aa50b","type":"chatbot-ask","z":"5cd8255f.7fda1c","name":"Botones para interés","answers":[{"value":"Poco ","label":"Poco "},{"value":"Normal","label":"Normal"},{"value":"Mucho ","label":"Mucho "}],"message":":smile:","x":840,"y":320,"wires":[["709e212f.f2b85"]]},{"id":"14cf7d02.a57e73","type":"chatbot-ask","z":"5cd8255f.7fda1c","name":"Botones para dificultad","answers":[{"value":"Sencilla","label":"Sencilla"},{"value":"Intermedia","label":"Intermedia"},{"value":"Difícil","label":"Difícil"}],"message":":smile:","x":750.8958854675293,"y":241.88888835906982,"wires":[["709e212f.f2b85"]]},{"id":"44ead2bb.7bd95c","type":"chatbot-inline-buttons","z":"4ed8e6d0.910e18","name":"","buttons":[{"type":"postback","label":"poco :smile:","value":"poco","answer":"","alert":false},{"type":"postback","label":"normal","value":"normal","answer":"","alert":false},{"type":"postback","label":"mucho","value":"mucho","answer":"","alert":false}],"message":"hola","x":1493.8333129882812,"y":197.85426902770996,"wires":[[]]},{"id":"6bd777bd.de2c28","type":"chatbot-qrcode","z":"81aa7bd3.be8718","message":"hola","x":153,"y":568,"wires":[[]]},{"id":"aed162ee.e1a95","type":"chatbot-waiting","z":"81aa7bd3.be8718","waitingType":"typing","x":388.0000114440918,"y":212,"wires":[[]]},{"id":"719e188e.9daf88","type":"chatbot-telegram-receive","z":"924fdba7.c4daf8","bot":"1b5c9329.c6d79d","x":151,"y":58,"wires":[["946f0b8f.0ae3e8","348b3d7a.656b82"]]},{"id":"1e542f34.198381","type":"chatbot-telegram-receive","z":"63a109cf.1ac7f8","bot":"40d19c0b.735154","x":247,"y":215,"wires":[["2bd4877e.dad5e8"]]},{"id":"1dfdb5e6.645cfa","type":"chatbot-telegram-receive","z":"4ed8e6d0.910e18","bot":"f92adb99.c202c8","x":157.8958282470703,"y":80.88888835906982,"wires":[["26198429.9ed94c"]]},{"id":"ce61caa.1341338","type":"chatbot-telegram-receive","z":"5cd8255f.7fda1c","bot":"566626a2.5e5298","x":162.8958282470703,"y":48.38888645172119,"wires":[["9f16328b.7c28e","eab3b7bd.5a1358"]]},{"id":"1b968e2c.e8c8c2","type":"chatbot-telegram-send","z":"924fdba7.c4daf8","bot":"1b5c9329.c6d79d","track":true,"parseMode":"","outputs":1,"x":258,"y":742,"wires":[[]]},{"id":"c0fb86c.7eae978","type":"chatbot-telegram-send","z":"63a109cf.1ac7f8","bot":"40d19c0b.735154","track":false,"parseMode":"","outputs":0,"x":1193,"y":666,"wires":[]},{"id":"1ea0cd68.9ff653","type":"chatbot-telegram-send","z":"4ed8e6d0.910e18","bot":"f92adb99.c202c8","track":true,"parseMode":"Markdown","outputs":1,"x":202.89582061767578,"y":903.8889122009277,"wires":[[]]},{"id":"deb1ca3d.2701c8","type":"chatbot-telegram-send","z":"5cd8255f.7fda1c","bot":"566626a2.5e5298","track":false,"parseMode":"","outputs":0,"x":751.6458320617676,"y":975.1389312744141,"wires":[]}]
