Todos los nodos APP 2
[{"id":"3cd3dc62.4997a4","type":"tab","label":"Flow 1"},{"id":"2a48e815.2ffc58","type":"tab","label":"Pruebas AVECU 1.1","disabled":false,"info":""},{"id":"8e1560a3.316d4","type":"chatbot-telegram-node","z":"3cd3dc62.4997a4","botname":"Avecu","usernames":"","polling":"1000","log":""},{"id":"ff9e8259.7291b","type":"chatbot-telegram-node","z":"","botname":"Pruebas","usernames":"","polling":"1000","log":""},{"id":"e78b1a2e.2b75f8","type":"function","z":"2a48e815.2ffc58","name":"Preparar para Conversation","func":"msg.user = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":188.1458282470703,"y":148.8889036178589,"wires":[["fe09d91d.953d18"]]},{"id":"cc21a9bc.8ac6b8","type":"function","z":"2a48e815.2ffc58","name":"Preparar para Telegram","func":"msg.payload = {\n  chatId : msg.user,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":309.14583587646484,"y":869.8889284133911,"wires":[["67da98cb.f9f998"]]},{"id":"3a04b809.f6ab48","type":"watson-conversation-v1","z":"2a48e815.2ffc58","name":"","workspaceid":"72ec0d9f-6e05-4f6c-9a9d-a045081be799","multiuser":true,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":121.89582824707031,"y":540.8888721466064,"wires":[["7a072bd7.d06f84","9f88e90d.87f2e8","cc21a9bc.8ac6b8","8d5fb646.1d1a68","2a4723ff.4a1c0c","1f29f695.2de189","5c112079.e8831","fd3c6608.142958"]],"inputLabels":["msg.user"]},{"id":"7a072bd7.d06f84","type":"switch","z":"2a48e815.2ffc58","name":"Mega Switch","property":"payload.context.apuntar_asignatura","propertyType":"msg","rules":[{"t":"eq","v":"MATEMATICAS","vt":"str"},{"t":"eq","v":"LENGUA CASTELLANA Y LITERATURA","vt":"str"},{"t":"eq","v":"FISICA Y QUIMICA","vt":"str"},{"t":"eq","v":"GRIEGO","vt":"str"},{"t":"eq","v":"LATIN","vt":"str"},{"t":"eq","v":"MATEMATICAS APLICADAS A LAS CIENCIAS SOCIALES","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"LITERATURA UNIVERSAL","vt":"str"},{"t":"eq","v":"GEOGRAFIA","vt":"str"},{"t":"eq","v":"ECONOMIA DE LA EMPRESA,BIOLOGIA Y GEOLOGIA","vt":"str"},{"t":"eq","v":"GEOLOGIA","vt":"str"},{"t":"eq","v":"QUIMICA","vt":"str"},{"t":"eq","v":"HISTORIA DEL ARTE","vt":"str"},{"t":"eq","v":"HISTORIA DE LA FILOSOFIA","vt":"str"},{"t":"eq","v":"INGLES","vt":"str"},{"t":"eq","v":"DIBUJO TECNICO","vt":"str"},{"t":"eq","v":"FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE ESPAÑA","vt":"str"},{"t":"eq","v":"ECONOMIA","vt":"str"},{"t":"eq","v":"HISTORIA DEL MUNDO CONTEMPORANEO","vt":"str"},{"t":"eq","v":"TECNOLOGIA INDUSTRIAL","vt":"str"},{"t":"eq","v":"FRANCES","vt":"str"},{"t":"eq","v":"DIBUJO ARTISTICO","vt":"str"},{"t":"eq","v":"EDUCACION FISICA","vt":"str"},{"t":"eq","v":"HISTORIA DE LA MUSICA Y DE LA DANZA","vt":"str"},{"t":"eq","v":"FUNDAMENTOS DE ADMINISTRACION Y GESTION","vt":"str"},{"t":"eq","v":"RELIGION","vt":"str"},{"t":"eq","v":"CULTURA CIENTIFICA","vt":"str"},{"t":"eq","v":"TECNOLOGIA DE LA INFORMACION Y COMUNICACION","vt":"str"},{"t":"eq","v":"PSICOLOGIA","vt":"str"},{"t":"eq","v":"CIENCIAS DE LA TIERRA Y MEDIOAMBIENTE","vt":"str"},{"t":"eq","v":"ANATOMIA APLICADA","vt":"str"},{"t":"eq","v":"LENGUAJE Y PRACTICA MUSICAL","vt":"str"}],"checkall":"true","outputs":33,"x":1021.3958892822266,"y":677.888916015625,"wires":[["51d1483c.64fb78"],["51d1483c.64fb78"],["51d1483c.64fb78"],["51d1483c.64fb78"],["51d1483c.64fb78"],["51d1483c.64fb78"],["51d1483c.64fb78"],["51d1483c.64fb78"],["51d1483c.64fb78"],["51d1483c.64fb78"],["51d1483c.64fb78"],["51d1483c.64fb78"],["51d1483c.64fb78"],["51d1483c.64fb78"],["51d1483c.64fb78"],["51d1483c.64fb78"],["51d1483c.64fb78"],["51d1483c.64fb78"],["51d1483c.64fb78"],["51d1483c.64fb78"],["9c16cb5c.88fe48"],["9c16cb5c.88fe48"],["a97b170.83f8ae8"],["a97b170.83f8ae8"],["a97b170.83f8ae8"],["a97b170.83f8ae8"],["a97b170.83f8ae8"],["a97b170.83f8ae8"],["a97b170.83f8ae8"],["a97b170.83f8ae8"],["a97b170.83f8ae8"],["a97b170.83f8ae8"],["a97b170.83f8ae8"]]},{"id":"7140379c.2a9ff8","type":"function","z":"2a48e815.2ffc58","name":"Goma de Borrar","func":"     msg.params = {\n         context: {}\n     };\nreturn msg;","outputs":1,"noerr":0,"x":1606.645881652832,"y":54.638901233673096,"wires":[[]]},{"id":"23d4915d.94742e","type":"debug","z":"2a48e815.2ffc58","name":"","active":true,"console":"false","complete":"payload","x":1650.1457748413086,"y":608.3888931274414,"wires":[]},{"id":"21cd258.d58bdda","type":"debug","z":"2a48e815.2ffc58","name":"","active":true,"console":"false","complete":"false","x":1646.6457748413086,"y":734.1389255523682,"wires":[]},{"id":"4b2a712a.18d2d","type":"debug","z":"2a48e815.2ffc58","name":"","active":true,"console":"false","complete":"false","x":1645.6457748413086,"y":843.3889265060425,"wires":[]},{"id":"9c16cb5c.88fe48","type":"function","z":"2a48e815.2ffc58","name":"Organizar 3 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Sencilla\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Intermedia\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n   if (msg.payload.context.negacion == \"No\"){\n     var Negacion = 1;\n }\n \n var Semanas = msg.payload.context.number;\n var Constante = 0.8;\n var Horas_por_semana = 3;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro, \"Negacion\":Negacion};\n \n\n return msg;","outputs":1,"noerr":0,"x":1335.8957710266113,"y":733.6389245986938,"wires":[["21cd258.d58bdda","2f5fdd9b.4c0692"]]},{"id":"a97b170.83f8ae8","type":"function","z":"2a48e815.2ffc58","name":"Organizar 2 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Sencilla\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Intermedia\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n  if (msg.payload.context.negacion == \"No\"){\n     var Negacion = 1;\n }\n \n var Semanas = msg.payload.context.number;\n var Constante = 0.8;\n var Horas_por_semana = 2;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro, \"Negacion\":Negacion};\n \n\n return msg;","outputs":1,"noerr":0,"x":1336.6457748413086,"y":845.3889265060425,"wires":[["4b2a712a.18d2d","2f5fdd9b.4c0692"]]},{"id":"51d1483c.64fb78","type":"function","z":"2a48e815.2ffc58","name":"Organizar 4 horas","func":"\nif (msg.payload.context.organizar_interes == \"Poco\"){\n  var Interes = -0.1;\n  } else if (msg.payload.context.organizar_interes == \"Normal\"){\n  var Interes = 0;\n  } else if (msg.payload.context.organizar_interes == \"Mucho\"){\n  var Interes = 0.1;\n  }\n if (msg.payload.context.organizar_dificultad == \"Sencilla\"){\n  var Dificultad = -0.1;\n  } else if (msg.payload.context.organizar_dificultad == \"Intermedia\"){\n  var Dificultad = 0;\n  } else if (msg.payload.context.organizar_dificultad == \"Dificil\"){\n  var Dificultad = 0.1;\n  }\n if (msg.payload.context.negacion == \"No\"){\n     var Negacion = 1;\n }\n      \n var Semanas = msg.payload.context.number;\n var Constante = 0.8;\n var Horas_por_semana = 4;\n var paginas = msg.payload.context.paginas;\n \n \nvar Horas_base = Semanas * Horas_por_semana * Constante;\nvar Horas_estudio = Horas_base*(1+Dificultad+Interes);\nvar Horas_libro = paginas / 40;\n\n msg.payload = {\"Interes\":Interes,\"Dificultad\":Dificultad,\"Semanas\":Semanas,\"Horas_base\": Horas_base, \"Horas_estudio\": Horas_estudio, \"Horas_libro\": Horas_libro, \"Negacion\":Negacion};\n \n \nreturn msg;","outputs":1,"noerr":0,"x":1335.1457710266113,"y":609.6388931274414,"wires":[["23d4915d.94742e","2f5fdd9b.4c0692"]]},{"id":"9f88e90d.87f2e8","type":"debug","z":"2a48e815.2ffc58","name":"","active":true,"console":"false","complete":"payload","x":522.1458206176758,"y":679.1389255523682,"wires":[]},{"id":"fe09d91d.953d18","type":"function","z":"2a48e815.2ffc58","name":"Borrar al finalizar","func":"if (msg.payload.Horas_estudio > 0){\n   msg.params = {\n         context: {}\n     };\n    \n}\nif (msg.payload.Horas_libro > 0){\n    msg.params = {\n         context: {}\n     };\n}\nif (msg.payload.Negacion > 0){\n    msg.params = {\n         context: {}\n     };\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":221.14581298828125,"y":332.1389207839966,"wires":[["3a04b809.f6ab48"]]},{"id":"fdb8e8b7.720e38","type":"link in","z":"2a48e815.2ffc58","name":"","links":["2f5fdd9b.4c0692"],"x":43.64581489562988,"y":332.6389207839966,"wires":[["fe09d91d.953d18","dac5f3c0.47aba"]]},{"id":"2f5fdd9b.4c0692","type":"link out","z":"2a48e815.2ffc58","name":"","links":["fdb8e8b7.720e38"],"x":1541.6457748413086,"y":733.6389856338501,"wires":[]},{"id":"8d5fb646.1d1a68","type":"function","z":"2a48e815.2ffc58","name":"Introducir datos en BD","func":"msg.payload =\n\n{\nFECHA:msg.payload.context.date,\n\nTIPO_ACTIVIDAD:\tmsg.payload.context.apuntar_tipo,\n\nASIGNATURA: msg.payload.context.apuntar_asignatura,\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":477.64581298828125,"y":527.6389236450195,"wires":[["99fc947e.66de78","e5417504.083e28"]]},{"id":"e5417504.083e28","type":"debug","z":"2a48e815.2ffc58","name":"","active":true,"console":"false","complete":"false","x":733.1458206176758,"y":483.6389217376709,"wires":[]},{"id":"99fc947e.66de78","type":"dashDB out","z":"2a48e815.2ffc58","dashDB":"","service":"proyectoexcelencia_bd","table":"PRUEBASNODERED","name":"Tabla PRUEBASNODERED","x":782.6458206176758,"y":557.6389236450195,"wires":[]},{"id":"dac5f3c0.47aba","type":"function","z":"2a48e815.2ffc58","name":"Mensaje FINAL","func":"if (msg.payload.Horas_libro > 0){\nconsole.log(msg);\nvar chat = msg.chat();\nmsg.payload = \"Vas a tardar \" + Math.round(msg.payload.Horas_libro) +\" horas en leerte el libro.\";\n}\n\nif (msg.payload.Horas_estudio > 0){\nconsole.log(msg);\nvar chat = msg.chat();\nmsg.payload = \"Vas a tardar \" + Math.round(msg.payload.Horas_estudio) +\" horas en prepararte este examen.\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":819.8958129882812,"y":81.88889503479004,"wires":[["d17c291b.52a278","491517f.b3705e8"]]},{"id":"491517f.b3705e8","type":"debug","z":"2a48e815.2ffc58","name":"","active":true,"console":"false","complete":"payload","x":1044.8957748413086,"y":81.13889122009277,"wires":[]},{"id":"2a4723ff.4a1c0c","type":"switch","z":"2a48e815.2ffc58","name":"","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"saludo","vt":"str"}],"checkall":"true","outputs":1,"x":400.3958206176758,"y":769.6389265060425,"wires":[["9b6aabd0.655d88"]]},{"id":"22887174.39cd0e","type":"switch","z":"2a48e815.2ffc58","name":"","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"afirmacion","vt":"str"}],"checkall":"false","outputs":1,"x":610,"y":320,"wires":[["8e68adae.824e4"]]},{"id":"fd3c6608.142958","type":"switch","z":"2a48e815.2ffc58","name":"","property":"payload.entities[0].entity","propertyType":"msg","rules":[{"t":"eq","v":"organizar_interes","vt":"str"}],"checkall":"true","outputs":1,"x":527.041633605957,"y":242.7778034210205,"wires":[["efde2655.28ec68"]]},{"id":"1f29f695.2de189","type":"switch","z":"2a48e815.2ffc58","name":"","property":"payload.entities[0].entity","propertyType":"msg","rules":[{"t":"eq","v":"organizar_dificultad","vt":"str"}],"checkall":"true","outputs":1,"x":523.1458206176758,"y":404.6388912200928,"wires":[["5394e567.72937c"]]},{"id":"9efb2022.2dfaf","type":"link in","z":"2a48e815.2ffc58","name":"","links":["fc90748.2967888","bac90705.0e3988","d260300a.03a82","5fdcbdaa.479ff4"],"x":422.5,"y":976.25,"wires":[["67da98cb.f9f998"]]},{"id":"bac90705.0e3988","type":"link out","z":"2a48e815.2ffc58","name":"","links":["9efb2022.2dfaf"],"x":1132.5000171661377,"y":280.00000286102295,"wires":[]},{"id":"5c112079.e8831","type":"switch","z":"2a48e815.2ffc58","name":"","property":"payload.context.apuntar_tipo","propertyType":"msg","rules":[{"t":"eq","v":"Examen","vt":"str"}],"checkall":"true","outputs":1,"x":490,"y":320,"wires":[["22887174.39cd0e"]]},{"id":"d17c291b.52a278","type":"chatbot-message","z":"2a48e815.2ffc58","name":"","message":[],"answer":false,"track":false,"x":978.3958282470703,"y":169.13890266418457,"wires":[["bac90705.0e3988"]]},{"id":"9b6aabd0.655d88","type":"chatbot-message","z":"2a48e815.2ffc58","name":"","message":[{"message":"Hola, {{firstName}} {{lastName}}"}],"answer":false,"track":false,"x":599.1458206176758,"y":769.1389265060425,"wires":[["67da98cb.f9f998"]]},{"id":"5394e567.72937c","type":"chatbot-ask","z":"2a48e815.2ffc58","name":"Botones para semanas","answers":[{"value":"1","label":"1"},{"value":"2","label":"2"},{"value":"3","label":"3"},{"value":"4","label":"4"},{"value":"5","label":"5"},{"value":"6","label":"6"},{"value":"7","label":"7"},{"value":"8","label":"8"},{"value":"9","label":"9"},{"value":"10","label":"10"}],"message":"Por último necesito que me digas el número de semanas que has dedicado en clase a este examen","x":760.1458206176758,"y":405.1388912200928,"wires":[["bac90705.0e3988","51d1483c.64fb78"]]},{"id":"8e68adae.824e4","type":"chatbot-ask","z":"2a48e815.2ffc58","name":"Botones para interés","answers":[{"value":"Poco ","label":"Poco "},{"value":"Normal","label":"Normal"},{"value":"Mucho ","label":"Mucho "}],"message":"Necesito que me digas el interés que tienes en el temario del examen","x":840,"y":320,"wires":[["bac90705.0e3988","51d1483c.64fb78"]]},{"id":"efde2655.28ec68","type":"chatbot-ask","z":"2a48e815.2ffc58","name":"Botones para dificultad","answers":[{"value":"Sencilla","label":"Sencilla"},{"value":"Intermedia","label":"Intermedia"},{"value":"Difícil","label":"Difícil"}],"message":"¿Qué dificultad tiene para ti este examen?","x":750.8958854675293,"y":241.88888835906982,"wires":[["bac90705.0e3988","51d1483c.64fb78"]]},{"id":"bbb2acb9.76115","type":"chatbot-telegram-receive","z":"2a48e815.2ffc58","bot":"ff9e8259.7291b","x":162.8958282470703,"y":48.38888645172119,"wires":[["dac5f3c0.47aba","e78b1a2e.2b75f8"]]},{"id":"67da98cb.f9f998","type":"chatbot-telegram-send","z":"2a48e815.2ffc58","bot":"ff9e8259.7291b","track":false,"parseMode":"","outputs":0,"x":751.6458320617676,"y":975.1389312744141,"wires":[]}]
